<ion-header>
  <alert-header [title]="title" (closeAction)="close(false);"></alert-header>
  <div class="backdrop" *ngIf="floatEnabled"></div>
</ion-header>
<ion-content>
  <div class="outer-container">
    <div class="info-container">
      <div class="inner-container">
        <div class="left-input">
          <div class="cash-print-type" (click)="personal = true; checkType()" [ngClass]="{'clicked': checkType()}">
            <ion-icon name="cp-ceo"></ion-icon> 개인
          </div>
          <div class="cash-print-type" (click)="personal = false; checkType()" [ngClass]="{'clicked': !checkType()}">
            <ion-icon name="cp-id"></ion-icon> 사업자
          </div>
        </div>
        <div class="right-numpad">
          <numpad [length]="11"></numpad>
        </div>
      </div>
    </div>
    <div class="info-container-bottom">
      <div class="title" *ngIf="personal">
        전화번호
      </div>
      <div class="title" *ngIf="!personal">
        사업자번호
      </div>
      <div>
        <string-input #phonenum [hidden]="!personal" [(value)]="phoneNum"></string-input>
        <string-input #corpnum [hidden]="personal" [placeholder]="'사업자 현금영수증 번호'" [(value)]="phoneNum"></string-input>
      </div>
    </div>

    <div class="confirm-btns">
      <div class="cancel-btn" (click)="close(false)">
        취소
      </div>
      <div class="confirm-btn" (click)="close(true)">
        확인
      </div>
    </div>
  </div>
</ion-content>