page-cash-print {
    .scroll-content {
        background: #f7f7f7;
        padding: 4rem 4rem !important;
        // height: 100%;
    }

    .outer-container {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top : 3rem;
    }

    .info-container {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        // margin-top:2rem;

        .inner-container {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .left-input {
            flex-basis: 35%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .cash-print-type{
                color: black;
                font-size: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid #abadb0;
                border-radius: 5px;
                margin: 1rem 4rem 1rem 0rem;
                padding: 1rem;
                background-color: white;
                box-shadow: 4px 4px 22px 0px rgba(0, 0, 0, 0.18);
                ion-icon::before{
                    display: flex;
                    justify-content: center;
                    font-size: 4.5rem;
                    }
                ion-icon{
                    margin: 1rem 0rem;
                    }
            }
            .clicked{
                background: linear-gradient(270deg,  #eb505e,  #fd7773);
                color: white;
            }

        }
        .right-numpad {
            flex-grow: 1;
                button {
                    @media (max-width: 1366px) {
                        width: 70px !important;
                        font-size: 30px;
                        padding: 20px 0px;
                    
                    }
                }
        }
    }
    .info-container-bottom{
        position: relative;
        left: 50%;
        transform: translateX(-40%);
        .title {
            color: #abadb0;
            margin: .5rem 0px;
        }
        string-input div, input {
            width: 80%;
            background: white;
            border: 1px solid #d1d3d4;
            border-radius: 5px;
            height: 5rem;
            font-size: 2.5rem;
            line-height: 5rem;
            padding: 0px 1.5rem;
            color: #214b72;
        }
    }

    .confirm-btns {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2rem 0px;

        div {
            flex-basis: 37%;
            padding: 1.5rem 0px;
            color: white;
            border-radius: 1.5rem;
            text-align: center;
            margin: 0px 1.5rem;
            font-size: 1.6rem;
        }
        .cancel-btn {
            background: #6d6e72;
        }
        .confirm-btn {
            background: linear-gradient(270deg, #fd7773, #eb505e);
        }
    }
}
