<div class="divide-container">
    <div class="divide-list">
        <div class="table-container">
            <ion-grid class="table-header">
                <ion-row>
                    <ion-col col-1>
                    </ion-col>
                    <ion-col col-3 class="center" (click)="dataSort(0)">
                        {{header[0]}}
                        <div class="arrow-down"></div>
                    </ion-col>
                    <ion-col col-4 class="center" (click)="dataSort(1)">
                        {{header[1]}}
                        <div class="arrow-down"></div>
                    </ion-col>
                    <ion-col col-3 class="center" (click)="dataSort(2)">
                        {{header[2]}}
                        <div class="arrow-down"></div>
                    </ion-col>
                    <ion-col col-3 class="center" (click)="dataSort(3)">
                        {{header[3]}}
                        <div class="arrow-down"></div>
                    </ion-col>
                    <ion-col col-2 class="center">
                        {{header[4]}}
                        <div class="arrow-down"></div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid class="table-body">
                <ion-scroll scrollY="true">
                    <ion-row ion-row *ngFor="let pData of data;let idx = index; ">
                        <ion-col col-1 (click)="selectOrder(idx, pData)">
                            <check-box class="onego-checkbox" [(checked)]="pData.checked" [checkColor]="'blue'"></check-box>
                        </ion-col>
                        <ion-col col-3>
                            <div class="menu-name">
                                {{pData[keys[0]]}}
                            </div>
                        </ion-col>
                        <ion-col col-4>
                            <div class="menu-name">
                                {{pData[keys[1]] | slice:0:3}}-{{pData[keys[1]]| slice:3:7}}-{{pData[keys[1]] | slice:7:11}}
                            </div>
                        </ion-col>
                        <ion-col col-3>
                            <div class="menu-name">
                                {{pData[keys[2]]| number}}
                            </div>
                        </ion-col>
                        <ion-col col-3 *ngIf="isMileage">
                            <div class="menu-name">
                                {{pData[keys[3]]| number}} M
                            </div>
                        </ion-col>
                        <ion-col col-3 *ngIf="!isMileage">
                            <div class="menu-name">
                                {{pData[keys[3]]| number}} 개
                            </div>
                        </ion-col>
                        <ion-col col-2 (click)="OnButtonClicked.emit(pData)">
                            <div class="menu-name">
                                <ion-icon class="eye" name="cp-look"></ion-icon>
                            </div>
                        </ion-col>
                    </ion-row>
                    <div class="more-load" *ngIf='total - data.length > 0' (click)="doInfinite()">
                        <ion-icon name="add"></ion-icon> 더보기 </div>
                </ion-scroll>
            </ion-grid>
        </div>
    </div>
</div>