page-membership {
    .scroll-content {
        overflow: hidden;
        background: #f7f7f7;
    }
    .side-tab {
        .item {
            ion-icon::before {
                font-size: 3rem;
                @media(max-width: 1366px) {
                    font-size: 2.5rem !important;
                }
            }

            ion-icon {
                margin-bottom: 12.5px;
                @media(max-width: 1366px) {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .mem-main{
        background: #f7f7f7;
        margin: 90px 50px 20px 50px;
        @media (max-width: 1366px) {
            margin: 50px 50px 20px 50px;
        }
        ion-row {
            margin:20px 0px 20px 0px;
            @media (max-width: 1366px) {
                margin: 10px 0px 10px 0px;
            }
        }

        .search-bar {
            margin: 0px 0px 20px 0px;
            @media (max-width: 1366px) {
                margin: 0px 0px 20px 0px;
            }


            .search-input {
                height: 50px;
                padding-left: 20px;
                font-weight: bold;
                border: 1px solid #d1d3d4;
                @media(max-width: 1366px) {
                    height: 40px;
                }
            }

            .search-input::placeholder{
                color: #19456c;
            }

            .search-btn {
                color: white;
                background: #fd6366;
                border : 1px solid #fd6366;
                padding: 15px 20px 15px 20px;
                margin: 0px 0px;
                @media(max-width: 1366px) {
                    padding: 12px 15px;
                }
            }
        }

        .center-th {
            text-align: center;

            div {
                padding-right: 40px;
                display: flex;
                flex-direction: row;

                div {
                    padding: 0;
                }
            }
        }

        .center-tr {
            text-align: left;
            
            div {
                padding-left: 20px;
                @media(max-width: 1366px) {
                    padding-left: 15px;
                }

                ion-icon{
                    transform: translateY(-3px);
                    @media(max-width: 1366px) {
                        transform: translateY(4px);
                    }
                }

                ion-icon::before {
                    font-size: 2.1rem; 
                    @media(max-width: 1366px) {
                        font-size: 2.1rem;
                    }
                }
            }
        }

        .mileage-btns {
            float: right;
            margin: 20px 50px ;
            background: white;
            color: #fd6366;
            border: 1px solid #d1d3d4;
            height: 60px;
            width: 180px;
            @media(max-width: 1366px) {
                height: 40px;
                width: 120px;
            }
        }

        .stamp-btns {
            float: right;
            margin: 20px 50px ;
            background: white;
            color: #fd6366;
            border: 1px solid #d1d3d4;
            height: 60px;
            width: 180px;
            @media(max-width: 1366px) {
                height: 40px;
                width: 120px;
            }
        }

        .mileage-btns, .stamp-btns {
            div {
                height: auto;
                width: auto;
                display: table;
                margin-right: auto;
                margin-left: auto;
                line-height: 57.5px;
                @media(max-width: 1366px) {
                    line-height: 40px;
                }

                div {
                    height: auto;
                    width: auto;
                    display: flex;
                    flex-direction: row;

                    ion-icon::before {
                        font-size: 2.3rem;
                        @media(max-width: 1366px) {
                            font-size: 2.4rem;
                        }
                    }

                    ion-icon {
                        margin-top: 15px;
                        margin-right: 10px;
                        @media(max-width: 1366px) {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

    }


    .lets-save {
        position: absolute;
        background: rgba(black,0.5);
        width: 100%;
        height: 100%;
        z-index: 3;

        .left {
            width: 27.5%;
        }

        .center {
            position: relative;
            width: 45%;
            height: 90%;
            z-index: 999999;

            .save-container {
                padding-top: 79px;
                background: #19456c;
                height: 90%;
                border-radius: 15px 15px 0px 0px;
                transform: translateY(0px);

                ion-header {
                    position: relative;
                    height: 20px;
                    transform: translateY(-50px);

                    div {
                        display: table;
                        margin-left: auto;
                        margin-right: auto;
                        color: white;
                        font-size: 2.2rem;
                    }

                    ion-icon {
                        position: absolute;
                        right: 20px;
                        top: 0px;
                    }

                    ion-icon::before {
                        font-size: 1.4rem;
                        color: white;
                    }
                }

                .top-background {
                    height: 30%;
                    background: #19456c;
                    border-top: 1px solid #19456c;
                    @media (max-width: 1366px) {
                        height: 30%;
                    }
                }

                .top-background > ion-row {
                    height: 100%;
                }

                img {
                    border-radius: 15px;
                    height: 160px;
                    margin-top: -5px;
                    box-shadow: 3px 5px 5px #000;
                    @media (max-width: 1366px) {
                        height: 110px;
                        margin-top: -5px;
                        border-radius: 10px;
                    }
                }

                .cardImg {
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                }

                .log-background {
                    height: 80%;
                    background: #f7f7f7;
                    position: relative;
                    @media(max-width: 1366px) {
                        height: 75%;
                    }
                }

                .phone-num {
                    border-left: 2px solid #d1d3d4;
                    border-right: 1px solid #d1d3d4;
                }

                .point {
                    border-left: 1px solid #d1d3d4;
                    border-right: 2px solid #d1d3d4;
                }

                .content-th {
                    background: #5f7d98;
                    text-align: center;
                    color: white;
                    width: 80%;
                    border: 1px solid #5f7d98;
                    border-radius: 15px 15px 0px 0px;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    transform: translateY(-25px);

                    ion-row {
                        margin: 15px 0px 15px 0px;
                        @media (max-width: 1366px) {
                            margin: 10px 0px 10px 0px;
                            font-size: 1.4rem !important;
                        }

                        ion-col {
                            display: flex;
                            flex-direction: row;
                            height: 20px;    
                            justify-content: center;        

                            @media(max-width: 1366px) {
                                height: 15px;
                            }


                            div {
                                height: auto;
                                width: auto;
                                display: flex;
                                flex-direction: row;
                                
                                img {
                                    box-shadow: none;
                                    height: 30px;
                                    width: 30px;
                                    margin: 0px 10px 0px 0px;
                                    transform: translateY(-5px);
                                    @media(max-width: 1366px) {
                                        height: 22.5px;
                                        width: 22.5px;
                                        transform: translateY(-4px);
                                        margin-right: 7.5px;
                                    }
                                }

                                ion-icon {
                                    margin-right: 10px;
                                    transform: translateY(-4px);
                                    @media(max-width: 1366px) {
                                        margin-right: 7.5px;
                                    }
                                }

                                ion-icon::before {
                                    color: #fd6366;
                                    font-size: 2.3rem;
                                    @media(max-width: 1366px) {
                                        font-size: 2.45rem;
                                    }
                                }
                            }
                        }
                    }
                }

                .content-tr {
                    background: #f7f7f7;
                    height: 10%;
                    width: 80%;
                    text-align: center;
                    border: 1px solid #f7f7f7;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    transform: translateY(-25px);
                    color: #19456c;
                    overflow-x: hidden; 

                    ion-row{
                        margin: 15px 0px 15px 0px;
                        @media (max-width: 1366px) {
                            margin: 10px 0px 15px 0px;
                            font-size: 1.4rem !important; 
                        }
                    }
                }

                .middle-line {
                    @media (max-width: 1366px) {
                        font-size: 1.4rem;
                        //margin: -20px;
                    }
                }

                .inputCost {
                    .cost-text{
                        height: 40px;
                        width: 180px;
                        display: table;
                        margin-left: auto;
                        margin-right: auto;
                        color: #a7a9ac;
                        @media (max-width: 1366px) {
                            height: 30px;
                            width: 145px;
                            font-size: 1.4rem;
                        }
                    }
                    
                    .input-box {
                        background: white;
                        border: 1px solid #cbcdce;
                        width: 180px;
                        height: 60px;
                        display: table;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 30px;
                        text-align: center;
                        line-height: 60px;
                        @media (max-width: 1366px) {
                            width: 135px;
                            height: 43px !important;
                            line-height: 43px;
                            margin-bottom: 20px;
                        }
                        
                        numpad-input div, input{
                            width: 180px;
                            height: 100%;
                            @media (max-width: 1366px) {
                                width: 135px;
                            }
                            
                            .focused {
                                @media(max-width: 1366px) {
                                    line-height: 45px;
                                }
                            }
                        }
                    }
                }

                .save-ratio {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    text-align: center;
                    line-height: 60px;
                    @media(max-width: 1366px) {
                        line-height: 45px;
                    }
                    
                    div {
                        // background: #e6e6e6;
                        border: 1px solid #cbcdce;
                        flex: unset; //원래 있었어
                        width: 60px;
                        height: 60px;
                        @media (max-width: 1366px) {
                            width: 45px;
                            height: 45px;
                        }
                        
                        numpad-input2 div, input{                        
                            border: none;
                            width: 58px;
                            height: 58px;
                            @media (max-width: 1366px) {
                                width: 43px;
                                height: 43px;
                            }
                        }
                        numpad-input div, input{                        
                            border: none;
                            width: 58px;
                            height: 58px;
                            @media (max-width: 1366px) {
                                width: 43px;
                                height: 43px;
                            }
                        }
                    }

                    .plus-minus {
                        background: white;
                        flex: unset;
                        font-size: 2.5rem;
                        color: #5e7d99; 
                    }
                }

                .cash-or-charge {
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    @media(max-width: 1366px) {
                        padding-left: 5px;
                    }

                    div {
                        width: 100px;
                        height: 60px;
                        @media (max-width: 1366px) {
                            width: 75px;
                            height: 45px;
                        }

                        div {
                            border: 1px solid #cbcdce;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;

                            ion-icon {
                                margin-top: 15px !important;
                                margin-left: 10px;
                                @media(max-width: 1366px) {
                                    margin-top: 11.5px !important;
                                    margin-left: 8px;
                                }
                            }

                            ion-icon::before {
                                @media(max-width: 1366px) {
                                    font-size: 2.3rem;
                                }
                            }

                            div {
                                //margin-top: 15px !important;
                                font-size: 1.5rem;
                                border: none;
                            }
                        }
                    }

                    .byCard, .byCash {
                        margin-left: 10px;
                        background: #f7f7f7;
                        color: #a7a9ac;
                        line-height: 60px;
                        @media(max-width: 1366px) {
                            line-height: 45px;
                            margin-left: 5px;
                        }
                    }

                    .byCash-clicked, .byCard-clicked {
                        margin-left: 10px;
                        background: #fd6366;
                        color: white;
                        line-height: 60px;
                        @media(max-width: 1366px) {
                            line-height: 45px;
                            margin-left: 5px;
                        }
                    }
                }

                .total {
                    font-size: 1.6rem;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 30px;
                    padding: 0px;
                    border-top: 1px solid #a7a9ac;
                    width: 300px;
                    height: 150px;
                    @media (max-width: 1366px) {
                        margin-top: 20px;
                        height: 100px;
                        font-size: 1.7rem;
                        width: 200px;
                    }

                    .first {
                        text-align: right;
                        color: #fd6366;
                        margin-top: 30px;
                        @media (max-width: 1366px) {
                            margin-top: 20px;
                            padding-right: 10px;
                        }
                    }

                    .second {
                        text-align: right;
                        color: #19456c;
                        margin-top: 30px;
                        @media (max-width: 1366px) {
                            margin-top: 20px;
                            padding-right: 10px;
                        }
                    }

                }

                .okay-background {
                    background: #f7f7f7;
                    padding-bottom: 5px;
                    border-radius: 0 0 15px 15px;
                    @media(max-width: 1366px) {
                        padding-bottom: 10px;
                    }
                    
                }
                
                .okay {
                    font-size: 1.7rem;
                    color: white;
                    background: #fd6366;
                    height: 10%;
                    text-align: center;
                    border: 1px solid;
                    border-radius: 15px;
                    padding: 25px 110px 25px 110px;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 30px;
                    margin-top: 0px;
                    @media (max-width: 1366px) {
                        font-size: 1.6rem;
                        padding: 15px 70px 15px 70px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .right {
            z-index: 999999;
            numpad, numpad2 {
                .container {
                    width: 390px;
                    height: 440px;
                    margin: 150px 0px 0px 20px;
                    @media(max-width: 1366px) {
                        margin: 100px 0px 0px 10px;   
                        width: 280px;
                        height: 360px;
                    }                 
                }
            }
        }

        .rightest {
            width: 7.5%;
        }

    }

    .review-main {
        background: #f7f7f7;
        padding: 40px 80px 0px 80px !important; 
        color: #58595b;
        @media(max-width: 1366px) {
            padding: 30px 40px 0px 40px !important;
        }

        .review-total {
            display: flex;
            flex-direction: row;
            color: #19456c;
            margin-left: 5px;

            div {
                margin-right: 30px;
                @media(max-width: 1366px) {
                    margin-right: 20px;
                }

            }
        }

        .review-box {
            width: 100%;
            height: 83.5%; 
            background: white;   
            margin-top: 20px;    
            box-shadow: 7px 7px 7px #cbcdce;
            padding: 20px 50px 20px 50px;
            overflow: scroll;
            @media(max-width: 1366px) {
                //padding: 0px;
                height: 83.5%;
                width: 1120px;
                padding: 10px 40px;
            }

            .seeMoreRow {
                border-bottom: none;
                height: auto;
            }

            ion-row {
                height: 120px;
                border-bottom: 3px solid #f7f7f7;
                display: flex;
                flex-direction: row;  
                @media(max-width: 1366px) {
                    height: 85px;
                }

                .div1 {
                    width: 7% !important;
                    padding-right: 25px;
                    @media(max-width: 1366px) {
                        padding-right: 15px;
                    }

                    div {
                        width: 100%;
                        height: 70px;
                        border: 2px solid #19456c;
                        border-radius: 25px;
                        line-height: 60%;
                        margin-top: 20px;
                        @media(max-width: 1366px) {
                            height: 46px;
                            border: 1px solid #19456c;
                            border-radius: 15px;
                        }

                        img {
                            width: 100%;
                            height: auto;
                            border-radius: 25px;
                            @media(max-width: 1366px) {
                                border-radius: 15px;
                            }
                        }
                    }
                }

                .div2 {
                    width: 13% !important;
                    padding-right: 20px;
                    @media(max-width: 1366px) {
                        // padding-right: 10px;
                    }

                    div {
                        height: 20px;
                        line-height: 20px;
                        margin: 25px 0px 25px 0px;
                        @media(max-width: 1366px) {
                            height: 20px;
                            line-height: 20px;
                            margin: 15px 0px;
                        }
                    }

                    .score {
                        border-right: 2px solid #f7f7f7;
                        @media(max-width: 1366px) {
                            margin-bottom: 10px;
                        }

                        .stars {

                            img {
                                width: 25px;

                                @media(max-width: 1366px) {
                                    width: 17px;
                                }
                            }
                        }
                    }

                    .name {
                        color: #19456c;
                        @media(max-width: 1366px) {
                            margin-top: 0px !important;
                        }
                    }
                }

                .div3 {
                    width: 70% !important;

                    div {
                        display: flex;
                        flex-direction: row;
                        position: relative;

                        div {
                            height: 20px;
                            line-height: 20px;
                            margin: 25px 20px 25px 0px;    
                            @media(max-width: 1366px) {
                                height: 20px;
                                line-height: 20px;
                                margin: 15px 15px 15px 0px;
                            }                        
                        }

                        ion-icon {
                            margin: 23px 7.5px 0px 0px;
                            @media(max-width: 1366px) {
                                margin: 15px 5px 0px 0px;
                            }
                        }

                        ion-icon::before {
                            font-size: 1.7rem;
                            @media(max-width: 1366px) {
                                font-size: 1.9rem;
                            }
                        }

                        .regDttm {
                            position: absolute;
                            right: 0px;
                        }
                    }

                    .reviewTxt {
                        width: 1078px;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        @media(max-width: 1366px) {
                            width: 728px;
                        }
                    }

                    .seeMoreTxt {
                        height: auto;
                        margin-bottom: 30px;
                        @media(max-width: 1366px) {
                            margin-bottom: 20px;
                        }
                    }

                    img {
                        width: 40%;
                    }
                }

                .div4 {
                    width: 10% !important;
                    color: #19456c;

                    div {
                        height: 20px;
                        line-height: 20px;
                        margin: 25px 0px 25px 0px;    
                        padding-left: 40px;   
                        @media(max-width: 1366px) {
                            height: 20px;
                            line-height: 20px;
                            margin: 15px 0px;
                            padding-left: 25px;
                        }                     
                    }
                }
            }

            .input-comment {
                width: 70%;
                display: table;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
                @media(max-width: 1366px) {
                    margin-top: 20px;
                }

                input {
                    width: 900px;
                    border: 0;
                    outline: 0;
                    padding: 20px 20px 20px 30px;
                    background: #f1f2f2;
                    border-radius: 15px;
                    margin-bottom: 25px;
                    margin-left: 40px;
                    @media(max-width: 1366px) {
                        margin-left: 20px;
                        margin-bottom: 15px;
                        padding: 15px 10px 15px 20px;
                        border-radius: 12.5px;
                        width: 600px;
                    }
                }

                ion-icon {
                    color: #fd6366;
                    margin-left: 20px;
                    transform: translateY(10px);
                    @media(max-width: 1366px) {
                        transform: translateY(5px);
                        margin-left: 15px;
                    }
                }

                ion-icon::before {
                    font-size: 2.5rem;
                }
            }

            .comment {
                width: 70%;
                display: table;
                margin-left: auto;
                margin-right: auto;
                
                ion-row {
                    border-bottom: none;
                    border-top: 3px solid #f7f7f7;
                    height: 105px;
                    @media(max-width: 1366px) {
                        border-top: 2px solid #f7f7f7;
                        height: 75px;
                    }

                    .div5 {
                        width: 7%;
                        @media(max-width: 1366px) {
                            width: 6%;
                        }

                        ion-icon {
                            color: #19456c;
                            margin: 20px 0px 0px 25px;
                            @media(max-width: 1366px) {
                                margin: 12.5px 0px 0px 10px;
                            }
                        }

                        ion-icon::before {
                            font-size: 1.2rem;
                            // @media(max-width: 1366px) {
                            //     font-size: 1.1rem;
                            // }
                        }
                    }

                    .div6 {
                        width: 93%;
                        @media(max-width: 1366px) {
                            width: 94%;
                        }
                        
                        .comment-info {
                            display: flex;
                            flex-direction: row;

                            div {
                                color: #19456c;
                                height: 15px;
                                line-height: 15px;
                                margin: 25px 20px 25px 0px;    
                                @media(max-width: 1366px) {
                                    height: 15px;
                                    line-height: 15px;
                                    margin: 15px 10px 15px 0px;
                                } 
                                
                            }
                        }
                    }
                }
            }
        }
    }

    .push-main {
        background: #f7f7f7;
        display: flex;
        flex-direction: row;
        justify-content: center;
        //text-align: center;

        .left {
            width: 43%;
            margin-top: 80px;
            border-radius: 20px 20px 0px 0px;
            height: 80%;
            background: white;
            box-shadow: 7px 7px 7px #cbcdce;
            // padding: 50px; //*
            padding: 40px;
            position: relative;
            font-size: 1.4rem;
            @media(max-width: 1366px) {
                width: 45%;
                margin-top: 50px;
                border-radius: 15px 15px 0px 0px;
                padding: 20px 30px;
            }

            ion-row {
                width: 100%;
                margin-bottom: 5px;
                position: relative;
                @media(max-width: 1366px) {
                    margin-bottom: 3px;
                }
                pos-editor{
                    width:100%;
                    .editorForm{
                        border: 1px solid #d1d3d4;
                    }
                    .ql-editor {
                        font-size: 1.5vw;
                        height: 24vw;
                    }
                }
                .pushTitle {
                    width: 480px;
                    height: 50px;
                    padding: 5px;
                    border: 0;
                    outline: 0; // 요기는 푸시 제목 입력하는 곳
                    border-bottom: 2px solid #d1d3d4;
                    margin-bottom: 10px;
                    @media(max-width: 1366px) {
                        width: 330px;
                        height: 40px;
                        border-bottom: 2px solid #d1d3d4;
                    }
                }

                // div {
                //     height: 42px;
                //     width: 140px;
                //     color: #fd6366;
                //     position: absolute;
                //     right: 0px;
                //     border: 1px solid #d1d3d4;
                //     line-height: 40px;
                //     text-align: center;
                //     display: flex;
                //     flex-direction: row;
                //     padding-left: 12px;
                //     @media(max-width: 1366px) {
                //         height: 32px;
                //         width: 100px;
                //         line-height: 25px;
                //         padding-left: 10px;
                //     }

                //     ion-icon {
                //         line-height: 40px;
                //         margin-right: 3px;
                //         @media(max-width: 1366px) {
                //             line-height: 30px;
                //         }
                //     }

                //     ion-icon::before {
                //         @media(max-width: 1366px) {
                //             font-size: 2.2rem;
                //         }
                //     }

                //     div {
                //         position: relative;
                //         border: none;
                //         @media(max-width: 1366px) {
                //             padding-left: 5px;
                //             line-height: 30px;
                //         }
                //     }
                // }

                textarea {
                    position: absolute;
                    top: 50px;
                    width: 100%;
                    // height: 460px; //*
                    height: 430px;
                    padding: 25px;
                    border: 1px solid #d1d3d4;
                    background: #f1f2f2;
                    @media(max-width: 1366px) {
                        top: 40px;
                        height: 340px;
                        padding: 20px 15px;
                    }
                }
            }

            .last-line {
                position: absolute;
                // top: 680px; // *
                top: 87.5%;
                @media(max-width: 1366px) {
                    top: 480px;
                }

                span {
                    color: #19456c;
                    margin-right: 20px;
                    @media(max-width: 1366px) {
                        margin-right: 10px;
                    }
                }

                select {
                    text-align: center;
                    height: 45px;
                    width: 180px;
                    font-size: 1.4rem;
                    padding-left: 20px;
                    border: 1px solid #d1d3d4;
                    color: #58595b;
                    @media(max-width: 1366px) {
                        height: 35px;
                        width: 140px;
                    }
                }

                ion-col {
                    width: 100%;
                    position: relative;

                    .letsSend {
                        height: 55px;
                        width: 200px;
                        background: #fd6366;
                        color: white;
                        border-radius: 20px;
                        position: absolute;
                        right: 100px;
                        line-height: 55px;
                        font-size: 1.6rem;
                        border: none;
                        display: flex;
                        justify-content: center;
                        padding-left: 0 !important;
                        @media(max-width: 1366px) {
                            height: 37px;
                            line-height: 37px;
                            width: 140px;
                            border-radius: 15px;
                            right: 60px;
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
        
        .right {
            margin-left: 40px;
            width: 50%;
            margin-top: 80px;
            border-radius: 20px 20px 0px 0px;
            height: 80%;
            background: white;
            box-shadow: 7px 7px 7px #cbcdce;
            font-size: 1.4rem;
            @media(max-width: 1366px) {
                width: 50%;
                margin-top: 50px;
                border-radius: 15px 15px 0px 0px;
                margin-left: 20px;
            }

            .first-line {
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 40px !important;
                @media(max-width: 1366px) {
                padding: 30px !important;
                }

                .calendar {
                    border: 1px solid #cbcdce;
                    height: 50px;
                    width: 180px;
                    border-radius: 5px;
                    color: #fd6366;
                    line-height: 50px;
                    padding-left: 25px;
                    @media(max-width: 1366px) {
                        height: 33px;
                        width: 130px;
                        border-radius: 3px;
                        line-height: 33px;
                        padding-left: 15px;
                    }

                    ion-icon {
                        margin-left: 10px;
                        transform: translateY(4px);
                        @media(max-width: 1366px) {
                            transform: translateY(3px);
                        }
                    }

                    ion-icon::before{
                        @media(max-width: 1366px) {
                            font-size: 2rem;
                        }
                    }
                } 

                span {
                    color: #d1d3d4;
                    line-height: 50px;
                    margin: 0px 10px 0px 10px;
                    @media(max-width: 1366px) {
                        line-height: 33px;
                        margin: 0px 5px 0px 5px;
                    }
                }

                input {
                    width: 260px;
                    margin-left: 50px;
                    height: 50px; //*
                    border: 0;
                    outline: 0;
                    border-bottom: 2px solid #d1d3d4;
                    padding: 5px;
                    @media(max-width: 1366px) {
                        width: 190px;
                        margin-left: 30px;
                        height: 35px;
                        padding: 7px;
                    }
                }

                .search-icon {
                    height: 50px;
                    line-height: 50px;
                    border-bottom: 2px solid #d1d3d4;
                    padding: 5px 10px 0px 5px;
                    color: #fd6366;
                    @media(max-width: 1366px) {
                        height: 35px;
                        line-height: 22.5px;
                        padding: 7px 10px 0px 5px; 
                    }

                    ion-icon::before {
                        @media(max-width: 1366px) {
                            font-size: 2rem;
                        }
                    }
                }
            }

            .pushList-box {

                pos-table{
                    .divide-container{
                        margin:0px;
                        box-shadow: none !important;
                        .divide-list{
                            .table-container{
                                .table-header{
                                    ion-row{
                                    // padding:0 !important;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

    }

    .scroll-content {
        position: relative;
        height: 100%;
    }

    .test {
        height: 20px;
        width: 50px;
        background: black;
        color:white;
    }

    .more-load{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size : 1.5rem;
        border: 1px #e9e9e9 solid;
        border-radius: 10px;
        padding:5px;
        margin: 15px 0;
        width: 8rem;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        color: #58595B;
        ion-icon{
            font-size: 2rem;
            margin-right: 10px;
        }
    }

}
