<div class="container">
    <div class="row">
        <button (click)="fire('1')" class="numpad-col">1</button>
        <button (click)="fire('2')" class="numpad-col">2</button>
        <button (click)="fire('3')" class="numpad-col right">3</button>
    </div>
    <div class="row">
        <button (click)="fire('4')" class="numpad-col">4</button>
        <button (click)="fire('5')" class="numpad-col">5</button>
        <button (click)="fire('6')" class="numpad-col right">6</button>
    </div>
    <div class="row">
        <button (click)="fire('7')" class="numpad-col">7</button>
        <button (click)="fire('8')" class="numpad-col">8</button>
        <button (click)="fire('9')" class="numpad-col right">9</button>
    </div>
    <div class="row">
        <button (click)="fire('00')" class="numpad-col bottom">00</button>
        <button (click)="fire('0')" class="numpad-col bottom">0</button>
        <button (click)="fireClear()" class="numpad-col delete right bottom"><ion-icon name="cp-delete-keyboard"></ion-icon></button>
    </div>
</div>