numpad2 {
    .container {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 15px 20px;
        border-radius: 20px;
        box-shadow: 1px 1px 19px 3px rgba(0, 0, 0, 0.09);

    }
        
    .row {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex: 1;
    }

    button {
        flex-basis: 33%;
        padding: 30px 0px;
        font-size: 40px;
        color: #19456d;
        background: white;
        border-right: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        @media (max-width: 1366px) {
            width: 90px;
            height: 80px;
            font-size: 30px;
        }
        
        ion-icon::before {
            display: flex;
            align-items: center;
            font-size: 40px !important;
            color: #f96e6e;
        }
    }

    .right {
        border-right: none;
    }
    .bottom {
        border-bottom: none;
    }
}