page-sales-amt-modify {

    .scroll-content {
        background: #f7f7f7;
        padding: 30px 0px;
        justify-content: space-around;               
        @media (max-width: 1366px) {
            padding: 40px 0px !important;
            }    
    }
    .amt-items{
        padding: 0px 120px ;
        @media (max-width: 1366px) {
            padding: 0px 80px;
            } 
    }
    .amt-items-row{
        display: flex;
        align-items:center;
        font-size: 1.8rem;
        margin-bottom: 15px;
        color: gray;
    }

    .amt-select{
        display: flex;
        align-items:center;
        font-size: 1.8rem;
        .label{
        // align-items:flex-end;
        text-align: right;
        }

        ion-icon::before{
            color: gray;
            font-size : 2rem;
            margin: 0rem 0rem 0rem 1rem;
        }
        ion-icon{
            color: gray;
            font-size : 2rem;
            margin: 5px;
        }
        input{
            width:100%;      
            margin:0;
            border:0;
            height: 100%;
            text-align: right;
            padding: 1rem;
            font-size: 2rem;    
            background-color: transparent;
            color: gray;
            
            }
        .sales-amt{
            text-align: right;
            font-size: 2rem;    
            width:100%;      
            color: gray;
            padding-right: 20px;
        }    


        }

        .diabled{
            border: 1px solid gray;
            background-color: white;
            
            input{
                color: rgb(25,69,109);
                }
                ion-icon::before{
                    color: rgb(25,69,109);
                }
        }

        .red{
            color:rgb(238, 86, 97);
            ion-icon::before{
                color:rgb(238, 86, 97);
            }
             .sales-amt{
                color:rgb(238, 86, 97);
            }     
        }

        .vertical{
            width:100%;
            color: gray;
        }

        .confirm-btns {
            flex-shrink: 0;
            width: 100%;
    
            display: flex;
            flex-direction: row;
            justify-content: center;
    
            // padding: 10px 0px 40px 0px;
    
            div {
                flex-basis: 33%;
                padding: 20px 0px;
                color: white;
                border-radius: 20px;
                text-align: center;
                margin: 0px 20px;
                font-size: 1.6rem;
            }
            .cancel-btn {
                background: #bdbec0;
            }
            .confirm-btn {
                background: linear-gradient(270deg, #fd7773, #eb505e);
            }
        }

}
