page-login {
    .btn-setting {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .scroll-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .background{
        z-index: 1;
        background-color: #19456C;
        height: 300px;
        width: 100%;
        position: fixed;
        top: 0;
    }

    .login-container {
        z-index: 10;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 75%;
        height: 750px;

        @media screen and (max-width: 1366px) {
            height: 550px;
        }

        .planet {
            flex: 1;
            height: 100%;
            width:100%;
            background: #536571;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25px 0px 0px 25px;
            .pos-image {
                width: 100%;
                height: 100%;
                border-radius: 25px 0px 0px 25px;
                z-index:1;
            }
            .logo{
                z-index: 10;
                position : fixed;
                top:23%;
                left:18%;
                width:15rem;
            }
        }

        .login-content {
            position: relative;
            flex: 1;
            height: 100%;
            background: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border-radius: 0px 25px 25px 0px;

            .input-forms {
                display: flex;
                flex-direction: column;
                width: 65%;

                .idpw {
                    display: flex;
                    color: #103149;
                    padding: 18px 15px 18px 0px;
                    border-bottom: #103149 3px solid;
                    margin: 20px 0px;

                    ion-icon {
                        font-size: 1rem;
                        margin: 0px 15px;
                    }
                    .idpw-text {
                        font-size: 1.8rem;
                        margin-right: 15px;
                        align-self: flex-end;
                        flex-shrink: 0;
                    }
                    input {
                        font-size: 1.8rem;
                        flex-grow: 1;
                        border: none;
                        align-self: flex-end;
                    }
                    ::-webkit-input-placeholder{
                        color: #103149 !important;
                        
                    }
                    input:placeholder {
                        color: #103149 !important;
                    }
                }
            }
            .save-id {
                // text-align: center;
                margin: 40px auto 40px 10px;
                // margin-right: auto;
                color: #b7c5d1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.8rem;

                ion-icon::before{
                    font-size: 2rem !important;
                }

            }
            .ok-btn {
                margin-bottom: 70px;
                width:100%;
                @media (max-width: 1366px) {
                    height: 60px;
                    line-height: 60px;
                }
            }
            .options {
                display: flex;
                flex-direction: row;
                color: #606060;
                font-size: 1.8rem;
                margin: 0 auto;
                div {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    padding: 0 1.5rem;
                }
                div:first-child{
                    border-right: 2px solid #606060;
                }
            }
        }
    }
}
