<!--
  Generated template for the SalesMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <alert-header [title]="title" (closeAction)="close();"></alert-header>
</ion-header>
<ion-content padding>
  <div class="menu-container">
    <div class="menu-list">
      <div class="table-container">
        <ion-grid class="table-header">
          <ion-row>
            <ion-col col-4>
              메뉴
            </ion-col>
            <ion-col col-3>
              단가
            </ion-col>
            <ion-col col-2>
              수량
            </ion-col>
            <ion-col col-3>
              할인
            </ion-col>
            <ion-col col-4>
              가격
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="table-body">
          <ion-scroll scrollY="true">
            <ion-row *ngFor="let item of data; let idx = index; let isLast = last;">
              <ion-col col-4>
                {{item.menuName}}
              </ion-col>
              <ion-col col-3>
                {{item.itemAmt | number}}원
              </ion-col>
              <ion-col col-2>
                {{item.itemCNT}}
              </ion-col>
              <ion-col col-3>
                {{item.dcName}}
              </ion-col>
              <ion-col col-4>
                {{((item.itemAmt * item.itemCNT)-(item.dcAmt * item.itemCNT)) | number}}원
              </ion-col>
            </ion-row>            
            <!-- <div class="more-load" *ngIf='total - data.length > 0' (click)="doInfinite()"> <ion-icon name="add"></ion-icon> 더보기 </div> -->
          </ion-scroll>
        </ion-grid>
      </div>
      <div class="foot">
        <ion-row>
          <hr class="vertical">
        </ion-row>
        <ion-row class="sum">
          <div> 총 결제 금액 : </div>
          <div> {{orderSum | number}} 원 </div>
        </ion-row>
        <ion-row>
          <hr class="vertical">
        </ion-row>
      </div>
    </div>
  </div>
  <div class="btn-area">
    <div (click)="close()" class="confirm">확인</div>
  </div>

</ion-content>