<ion-header>
  <alert-header [title]="title" (closeAction)="close(false);"></alert-header>
  <div class="backdrop" *ngIf="floatEnabled"></div>
</ion-header>
<ion-content>
  <div class="recent-menu" (click)="recentMenu()">
    <ion-icon name="cp-delete"></ion-icon> 최근 삭제 메뉴
  </div>
  <div class="main-info">
    <div class="menu-img">
      <img [src]="!menuImg ? 'assets/images/default-menu.png' : menuImg" alt="">
      <div class="float-content" [ngClass]="{'menu-open': floatEnabled}">
        <div class="float-menu">
          <div class="menu-item" (click)="takePic();">
            <ion-icon name="cp-take-picture"></ion-icon>사진 찍기
          </div>
          <div class="menu-item" (click)="getPic();">
            <ion-icon name="cp-album"></ion-icon>앨범에서 선택
          </div>
        </div>
        <div class="float-btn" (click)="floatEnabled = !floatEnabled">
          <img src="assets/images/plus.png" alt="">
        </div>
      </div>
    </div>
    <div class="menu-info-input">
      <div class="input-row">
        <div class="input-item">
          <div class="label">
            * 카테고리
          </div>
          <div class="select-box-container">
            <div class="select-box" (click)="showDrop = !showDrop">
              <ng-container *ngIf="categories.length > 0">
                {{categories[selectedCategoryIdx].name[lang]}}
              </ng-container>
            </div>
            <div class="options" *ngIf="showDrop">
              <div class="item" *ngFor="let item of categories; let i = index;" (click)="selectedCategoryIdx = i; showDrop = false">
                {{item.name[lang]}}
              </div>
            </div>
          </div>
        </div>
        <div class="input-item">
          <div class="label">
            * 메뉴명
          </div>
          <input type="" name="" value="" [(ngModel)]="newItem.name[lang]">
        </div>
      </div>
      <div class="input-row">
        <div class="input-item">
          <div class="label">
            * 단가
          </div>
          <input type="number" name="" value="" [(ngModel)]="newItem.unitPrice">
        </div>
        <div class="input-item">
          <div class="label">
            * 판매금액
          </div>
          <input type="number" name="" value="" [(ngModel)]="newItem.saleAmt">
        </div>
      </div>
    </div>
  </div>
  <div class="sub-info">
    <div class="set-sales-amt">
      <div class="input-item">
        <div class="label">
          판매 수량 설정
        </div>
        <input type="number" name="" value="" [(ngModel)]="newItem.stockCNT">
      </div>
      <div class="guide">
        <ion-icon name="cp-pw"></ion-icon>
        <div>
          판매 목표 수량을 설정합니다.<br/>도달하면 품목이 자동잠금 됩니다.
        </div>
      </div>
    </div>
    <div class="input-item code">
      <div class="label">
        * 메뉴코드
      </div>
      <input type="" name="" value="" [(ngModel)]="newItem.menuCode">
    </div>
  </div>
  <div class="lock-menu">
    메뉴 임시잠금 <ion-toggle [(ngModel)]="locked" [disabled]="!newItem.menuNo"></ion-toggle>
  </div>
  <div class="confirm-btns">
    <div class="cancel-btn" (click)="close(false)">
      취소
    </div>
    <div class="confirm-btn" (click)="complete()">
      확인
    </div>
  </div>
  <div class="backdrop" *ngIf="floatEnabled"></div>
</ion-content>
