page-confirm-alert2 {
    .scroll-content {
        background: #f7f7f7;
    }

    .alert-content {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        align-items: center;

        .text-content-section {
            flex-grow: 1;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .big-font-content {
                color: #19456d;
                font-size: 2rem;
                margin: 30px 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                word-break: keep-all;
                text-align: center;
                @media (max-width: 1366px) {
                    margin: 15px 60px;
                }
            }

            .small-font-content {
                color: #eb505e;
                font-size: 2rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                ion-icon{
                    margin-right: 15px;
                    // transform: translateY(-5%);
                }
                ion-icon:before{
                    font-size: 3.2rem;
                }

                div{
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    display: flex;
                }
                .pay-type{
                    margin-right: 30px;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    display: flex;
                }
                .pay-amt{
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    display: flex;
                }
            }
        }
    }

    .confirm-btns {
        flex-shrink: 0;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;

        padding: 10px 0px 40px 0px;

        @media (max-width: 1366px) {
            padding: 10px 0px 25px 0px;
        }

        div {
            flex-basis: 33%;
            padding: 15px 0px;
            color: white;
            border-radius: 20px;
            text-align: center;
            margin: 0px 20px;
        }
        .cancel-btn {
            background: #bdbec0;
        }
        .confirm-btn {
            background: linear-gradient(90deg, #fd7773, #eb505e);
        }
    }
}
