.category-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 4px 4px 15px 7px rgba(0, 0, 0, 0.08);
    margin: 16px;
    color: #19456d;
    
    @media (max-width: 1366px) {
        .category-content {
            .category-item {
                .category-name {
                    padding: 10px 0px !important;
                }
            }
        }
        .edit-btn {
            span {
                padding: 7px 0px !important;
                border-radius: 6px !important;
            }
        }
    }
    
    .category-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        overflow-x: scroll;
        border-radius: 20px 0px 0px 0px;
        
    }
        .category-item {
            width: 132px;
            flex-shrink: 0;
            flex-basis: 16%;
            border-bottom: 7px white solid;
            position: relative;
            
            .x-mark-category {
                position: absolute;
                top: 15%;
                right: 8%;
                
                z-index: 100099;
            
                display: none;
                align-items: center;
                justify-content: center;
            
                color: #be1e2d;
                font-size: 2rem;
            
                img {
                    width: 13px;
                    height: 13px;

                    @media screen and (max-width: 1366px) {
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            .category-name {
                text-align: center;
                padding: 20px 0px;
            }
        }
        .category-item:first-child {
            border-radius: 20px 0px 0px 0px;
        }

        .selected {
            background: transparent;
            color: #eb505e !important;
            background: white !important;
            border-bottom: 7px #eb505e solid !important;

            .x-mark-category {
                display: flex;
            }
        }

    .edit-btn {
        flex-basis: 15%;
        flex-shrink: 0;
        
        span {
            width: 70%;
            margin: auto;

            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #dfdfe0;
            border-radius: 10px;
            padding: 10px 0px;
            background: #f1f2f2;
            font-size: 1.4rem;

            ion-icon {
                margin-right: 5px;

                &::before {
                    font-size: 1.6rem;
                }
            }
        }
    }
    
    &.edit-mode {
        background: #333333;
        color: white;

        .category-item {
            color: white;
            position: relative;
            background: #333333;
            border-bottom: 7px #333333 solid;
        }

        .edit-btn {
            span {
                color: white;
                background: linear-gradient(90deg, #fb7672, #e9515e);
                border: none;
            }
        }
    }
}

.left-content {
    margin: 0px 16px;
}

.x-mark-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fd6366;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 100099;

    display: flex;
    align-items: center;
    justify-content: center;
    
    @media screen and (max-width: 1366px) {
        width: 25px;
        height: 25px;

        img {
            width: 10px !important;
            height: 10px !important;
        }
    }

    img {
        width: 13px;
        height: 13px;
    }
}

page-order {
    .side-tab {
        margin-top: 50px;
    }

    .item.btn {
        color: #265075;
    }

    .order-content {
        display: flex;
        flex-direction: row;

        .menu-list-container {
            position: relative;
            flex-grow: 1;
            margin-left: 20px;
            z-index: 100000;

            .filter-and-opt {
                position: absolute;
                // top: 0;
                right: 0;
                bottom: 0vh;
                transform: translateX(100%);

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .filter {
                    display: none;
                    select {
                        padding: 10px 35px;
                        font-size: 1.3rem;
                        color: #265075;
                    }
                }
                .float-content {
                    width: 300px;

                    .float-menu {
                        max-height: 0;
                        transition: max-height 0.5s ease-out;
                        overflow-y: hidden;
                        padding-left: 35px;

                        .menu-item {
                            color: white;
                            margin: 30px 0px;

                            display: flex;
                            align-items: flex-end;

                            ion-icon {
                                margin-right: 10px;
                                transform: translateX(-50%);

                                &::before {
                                    font-size: 3rem !important;
                                }
                            }
                        }
                    }
                    .float-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #fd6366;
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        color: white;
                        margin-bottom: 60px;
                        box-shadow: 4px 4px 15px 1px #000000;

                        @media screen and (max-width: 1366px) {
                            width: 50px;
                            height: 50px;

                            img {
                                width: 25px !important;
                                height: 25px !important;
                            }
                        }

                        img {
                            width: 30px;
                            height: 30px;
                            transform: rotate(0deg);
                            transition: transform 0.5s;
                        }
                    }
                }
                
                .menu-open {
                    .float-menu {
                        max-height: 300px;
                        transition: max-height 0.5s ease-in;
                    }

                    .float-btn {
                        img {
                            transform: rotate(45deg);
                            transition: transform 0.5s;
                        }
                    }
                }
            }
        }

        .order-menu-list-container {
            flex-basis: 43%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .order-menu-list {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 16px 0px 0px 10px;
                background: white;
                width: 87.5%;
                box-shadow: 4px 4px 15px 7px rgba(0, 0, 0, 0.08);
                padding: 20px 20px 10px 20px;
                flex-grow: 1;
                border-radius: 20px 20px 0px 0px !important;
                border: #e9e9e9 1px solid;

                .print-btn {
                    // display:none;
                    position: absolute;
                    text-align: center;
                    width: 4rem;
                    right: 0%;
                    // bottom: calc();
                    bottom: 10px;
                    transform: translateX(100%);
                    background: #19456d;
                    padding: 40px 12px;
                    border-radius: 0px 25px 25px 0px;
                    box-shadow: 4px 4px 15px 7px rgba(0, 0, 0, 0.08);

                    color: #e9e9e9;
                    font-size: 2rem;

                    @media screen and (max-width: 1366px) {
                        border-radius: 0px 15px 15px 0px;
                        padding: 25px 8px;
                    }

                    ion-icon::before {
                        font-size: 1.8rem;
                        color: white;
                    }

                    .arrow-left {
                        position: absolute;
                        left: 0%;
                        top: 50%;
                        transform: translate(-100%, -50%);

                        width: 0; 
                        height: 0; 
                        border-top: 5px solid transparent;
                        border-bottom: 5px solid transparent; 
                        border-right: 5px solid #19456d; 
                    }
                }

                .table-container {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    overflow: hidden;
                    border: #e9e9e9 1px solid;
                    border-radius: 20px 20px 0px 0px !important;

                    .table-header {
                        flex-shrink: 0;

                        ion-row {
                            background: #5e7d99;
                            border-radius: 20px 20px 0px 0px !important;
                            font-size: 1.2rem;
                            padding: 10px 0px !important;
                            text-align: center;

                            ion-col:not(:last-child) {
                                border-right: 1px #8098ae solid;
                            }
                            ion-col {
                                position: relative;
                                color: white;

                                check-box {
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    left: 6%;
                                }
                            }
                        }
                    }

                    .table-body {
                        flex-grow: 1;
                        ion-scroll {
                            height: 100vh;

                            .scroll-content {
                                min-height: unset;
                            }
                        }
                        ion-row:not(:last-child) {
                            border-bottom: #f2f3f3 1px solid;
                        }
                        ion-row {
                            font-size: 1.3rem;
                            border-top: #f2f3f3 1px solid;
                            
                            ion-col {
                                display: flex;
                                height: 90px;
                                text-align: center;
                                align-items: center;
                                justify-content: center;

                                @media screen and (max-width: 1366px) {
                                    height: 55px;
                                }

                                check-box {
                                    margin-right: 3px;
                                    ion-icon {
                                        display:flex;
                                    }
                                }

                                .center {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    margin: 0 10px;

                                    div {
                                        flex: unset;
                                        width: 50px;
                                        height: 50px;
                                        line-height: 50px;
                                        justify-content: center;

                                        @media screen and (max-width: 1366px) {
                                            width: 35px;
                                            height: 35px;
                                            line-height: 35px;
                                        }
                                    }

                                    .number-text {
                                        background: #fafafa;
                                    }

                                    .plus-minus {
                                        flex: unset;
                                        border: #eeeeee 1px solid;
                                        font-size: 2.5rem;
                                        color: #5e7d99;
                                    }
                                }
                            }
                            .menu-name {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: flex-start;
                                text-align: left;
                                width: 100%;
                                margin: 0px 5px;
                                position: relative;

                                .is-new {
                                    position: absolute;
                                    top: 0;
                                    right: 5px;
                                    transform: translateY(-100%);
                                    color: #ff0303;
                                }
                            }
                            .inactive {
                                display: block;
                                text-align: center;
                                margin: 0px;
                            }
                            .odd-col {
                                background: #fbfbfc !important;
                            }
                        }
                    }
                }

                .menu-opt-btns {
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 35px;
                    font-size: 1.3rem;

                    @media screen and (max-width: 1366px) {
                        padding: 15px 35px;
                    }

                    div {
                        flex: 1;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        ion-icon {
                            color: #fd6366;
                            margin: 0px 10px
                        }
                    }
                }
            }
        }
    
        .pay-opt {
            flex-shrink: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 20px 0px 40px 10px;
            background: white;
            width: 87.5%;
            padding: 15px 20px;
            box-shadow: 4px 4px 15px 7px rgba(0, 0, 0, 0.08);

            @media screen and (max-width: 1366px) {
                padding: 10px 15px;

                div {
                    padding: 15px 10px !important;
                }
            }

            div {
                margin: 10px;
                padding: 20px 15px;
                font-size: 2rem;
                flex: 1;
            }

            .pay-amt-text {
                color: #fd6366;
                text-align: center;
                border-bottom: 1px solid #e8e9ea;
            }
            .pay-btn {
                text-align: center;
                background: #fd6366;
                color: white;
                border-radius: 15px;
            }
            .gray{
                background: #AAA9A9;
            }
            .order-done {
                background: #58595b !important;
            }
        }
    }

    .disabled {
        color: #d1dae2 !important;

        ion-icon {
            color: #d1dae2 !important;
        }
    }
}
