<div class="page-container" id="content" [ngStyle]="{'min-height': minHeight + 'px'}">
  <div class="header-container">
    <div class="header-content">
      <div class="header-left">
        <!-- <button class="item" type="" (click)="home()">home</button>  -->
        <div class="item" *ngIf="showMenuBtn" (click)="open()">
          <ion-icon name="md-menu"></ion-icon>
        </div>
        <div class="item" *ngIf="showBackBtn" (click)="back()">
          <ion-icon name="ios-arrow-back"></ion-icon>{{'back' | translate}}
        </div>
        <div class="item" *ngIf="showBackBtnOrder" (click)="goTableOrder()">
          <ion-icon name="ios-arrow-back"></ion-icon>이전
        </div>
      </div>
      <div class="header-center">
        {{title}}
      </div>
      <div class="header-right">
        <div class="item" *ngIf="showRightBtn">
          <ion-col>
            <div [ngClass]="{'lang-checked': lang == 'ko'}" class="lang" (click)="setLang('ko')">한국어</div>
            <!-- <div class="lang">한국어</div> -->
          </ion-col>
          <ion-col>
            <!-- <div class="lang-checked">English</div> -->
            <div [ngClass]="{'lang-checked': lang == 'en'}" class="lang" (click)="setLang('en')">English</div>
          </ion-col>
          <ion-col>
            <!-- <div class="lang-checked">中国话</div> -->
            <div [ngClass]="{'lang-checked': lang == 'cn'}" class="lang" (click)="setLang('cn')">中国话</div>
          </ion-col>
          <!-- <ion-icon name="cp-alarm"></ion-icon> -->
        </div>
      </div>
    </div>
    <div *ngIf="showBackDrop" class="backdrop"></div>
  </div>
  <div class="content">
    <ion-nav #myNav [root]="rootPage" [ngStyle]="{ 'background-size': '100% ' + backgroundHeight }" class="first-nav"></ion-nav>
  </div>
</div>