<ion-header>
  <alert-header [title]="title" (closeAction)="close($event)"></alert-header>
</ion-header>
<ion-content>
  <div class="alert-content">
    <div class="text-content-section" *ngIf="type == 0">
      <div class="big-font-content">
        {{label_big}}
      </div>
      <div class="small-font-content">
        {{label_small}}
      </div>
    </div>
    <div class="text-content-section" *ngIf="type == 1">
      <div class="big-font-content type1">
        <ion-icon name="cp-alert"></ion-icon>
      </div>
      <div class="small-font-content red">
        {{label_small}}
        <br>
        {{label_small2}}
      </div>
    </div>
    <div class="confirm-btns">
      <div class="cancel-btn" (click)="close(0)">
        {{'No' | translate }}
      </div>
      <div class="confirm-btn" (click)="close(1)">
        {{'Yes' | translate }}
      </div>
    </div>
  </div>
</ion-content>