page-push-detail {
    height: 100%;

    .top-background {
        height: 10%;
        background: #19456c;
        @media(max-width: 1366px) {
            height: 8%;
        }
    }

    .detail-background {
        height: 90%;
        background: #f7f7f7;
        @media(max-width: 1366px) {
            height: 92%;
        }

        .content-th {
            background: #5f7d98;
            text-align: center;
            color: white;
            width: 80%;
            height: 30px;
            line-height: 30px;
            border-radius: 20px 20px 0px 0px;
            display: table;
            margin-left: auto;
            margin-right: auto;
            transform: translateY(-25px);
            font-size: 1.4rem;
            @media(max-width: 1366px) {
                height: 15px;
                line-height: 15px;
                font-size: 1.4rem;
                transform: translateY(-25px);
            }

            ion-row {
                margin: 10px 10px 10px 10px;

                ion-col {
                    border-right: 2px solid #d1d3d4;
                    @media(max-width: 1366px) {
                        border-right: 1px solid #d1d3d4;
                    }
                }

                .exceptYou {
                    border-right: none;
                }
            }
        }

        .content-tr {
            background: #f7f7f7;
            height: 35px;
            width: 80%;
            line-height: 35px;
            text-align: center;
            display: table;
            margin-left: auto;
            margin-right: auto;
            transform: translateY(-25px);
            color: #19456c;
            font-size: 1.4rem;
            border-bottom: 3px solid #d1d3d4;
            margin-top: 5px;
            @media(max-width: 1366px) {
                height: 15px;
                line-height: 15px;
                border-bottom: 2px solid #d1d3d4;
            }
        }

        div {
            ion-row {
                margin: 5px 10px 10px 10px;
            }
        }

        .push-content {
            width: 550px;
            display: table;
            margin-right: auto;
            margin-left: auto;
            @media(max-width: 1366px) {
                width: 45%;
            }

            ion-scroll{
                height: 55vh;
                .scroll-content{
                    padding:0 !important;
                    width: 100%;
                    margin:0 !important;
                }
                .scroll-zoom-wrapper{
                    padding:0;
                    margin:0;
                    width: 100%;
                }
            }

        }
    }

    .scroll-content {
        @media(max-width: 1366px) {
            margin-top: 69px !important;
        }
    }
}   
