<!--
  Generated template for the PushDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <alert-header [title]="pageTitle" (closeAction)="closeModal($event);"></alert-header>
</ion-header>


<ion-content padding>
  <div class="top-background">
  </div>
  <div class="detail-background">
    <div class="content-th">
      <ion-row>
        <ion-col>발신일시</ion-col>
        <ion-col>발송대상</ion-col>
        <ion-col>대상인원</ion-col>
        <ion-col class="exceptYou">읽은수</ion-col>
      </ion-row>
    </div>
    <div class="content-tr">
      <ion-row>
        <ion-col>{{detail.sendDttm}}</ion-col>
        <ion-col>{{detail.pushTypeString }}</ion-col>
        <ion-col>{{detail.receive}}</ion-col>
        <ion-col>{{detail.readCnt}}</ion-col>
      </ion-row>
    </div>
    <div class="push-content">
      <ion-scroll scrollY="true">
        <div [innerHtml]="detail.pushTxt"></div>
      </ion-scroll>
    </div>
  </div>
</ion-content>