mileage-component {
    width: 100%;
    height: 100%;

    .lets-save {
        position: relative;
        width: 100%;
        height: 100%;

        .left {
            width: 27.5%;
        }

        .center {
            position: relative;
            width: 45%;
            height: 97%;
            z-index: 99999;
            @media (max-width: 1366px) {
                height: 90%;
            }

            .save-container {
                padding-top: 79px;
                background: #19456c;
                height: 85%;
                border-radius: 15px 15px 0px 0px;
                transform: translateY(0px);

                ion-header {
                    position: relative;
                    height: 20px;
                    transform: translateY(-50px);

                    div {
                        display: table;
                        margin-left: auto;
                        margin-right: auto;
                        color: white;
                        font-size: 2.2rem;
                    }

                    ion-icon {
                        position: absolute;
                        right: 20px;
                        top: 0px
                    }

                    ion-icon::before {
                        font-size: 1.4rem;
                        color: white;
                    }
                }


                .top-background {
                    height: 30%;
                    background: #19456c;
                    border-top: 1px solid #19456c;
                    @media (max-width: 1366px) {
                        height: 30%;
                    }
                }

                .top-background > ion-row {
                    height: 100%;

                    .right-col {
                        display: flex;
                        flex-direction: row;
                        
                        .input-tel-box {
                            border-radius: 3px;
                            margin-top: 90px;
                            margin-left: 20px;
                            width: 60%;
                            height: 25%;
                            background: white;
                            font-size: 1.4rem;
                            @media (max-width: 1366px) {
                                height: 23%;
                                margin-top: 60px;
                                padding: 0px 0px 0px 0px !important;
                                font-size: 1.7rem;
                            }

                            string-input div, input {
                                width: 100%;
                                height: 100%;
                                border: 1px solid #d1d3d4;
                                border-radius: 5px;
                                font-size: 1.8rem;
                                padding: 15px;
                                color: #214b72;
                                @media(max-width: 1366px) {
                                    padding: 9px 13px;
                                    font-size: 1.8rem;
                                }
                            }
                        }

                        .search {
                            border-radius: 3px;
                            margin-top: 90px;
                            margin-left: 3px;
                            padding: 12.5px 15px 20px 17px;
                            width: 16%;
                            height: 25%;
                            font-size: 1.4rem;
                            color: white;
                            background: #fd6366;

                            @media (max-width: 1366px) {
                                margin-top: 60px;
                                width: 17%;
                                padding: 13px 0px 0px 13px;
                                font-size: 1.5rem;
                                height: 23%;
                            }
                        }                      
                    }
                }

                .cardImg {
                    border-radius: 15px;
                    width: 55%;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    //height: 160px;
                    margin-top: 0px;
                    @media (max-width: 1366px) {
                        width: 60%;
                        height: auto;
                        border-radius: 10px;
                        margin-top: -10px;
                    }
                    box-shadow: 3px 5px 5px #000;

                }

                .log-background {
                    height:80%;
                    background: #f7f7f7;
                    position: relative;

                    @media(max-width: 1366px) {
                        height: 85%;
                    }
                }

                .phone-num {
                    border-left: 2px solid #d1d3d4;
                    border-right: 1px solid #d1d3d4;
                }

                .point {
                    border-left: 1px solid #d1d3d4;
                    border-right: 2px solid #d1d3d4;

                    img {
                        box-shadow: none;
                        height: 30px;
                        width: 30px !important;
                        margin: 0px 10px 0px 0px;
                        transform: translateY(-5px);
                        @media(max-width: 1366px) {
                            height: 22.5px;
                            width: 22.5px !important;
                            transform: translateY(-4px);
                             margin-right: 7.5px;
                        }
                    }
                }

                .content-th {
                    background: #5f7d98;
                    text-align: center;
                    color: white;
                    width: 80%;
                    border: 1px solid #5f7d98;
                    border-radius: 15px 15px 0px 0px;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    transform: translateY(-25px);

                    ion-row {
                        margin: 15px 0px 15px 0px;
                        @media (max-width: 1366px) {
                            margin: 10px 0px 10px 0px;
                            font-size: 1.4rem !important;
                        }

                        ion-col {
                            display: flex;
                            flex-direction: row;
                            height: 20px;
                            justify-content: center;
                            @media(max-width: 1366px) {
                                height: 15px;
                            }
                        }

                        div {
                            height: auto;
                            width: auto;
                            display: flex;
                            flex-direction: row;

                            ion-icon {
                                margin-top: 2px;
                                margin-right: 10px;
                                transform: translateY(-6px);
                                @media(max-width: 1366px) {
                                    marign-right: 7.5px;
                                    margin-top: 0px;
                                }
                            }

                            ion-icon::before {
                                color: #fd6366;
                                font-size: 2.2rem;
                                @media(max-width: 1366px) {
                                    font-size: 2.45rem;
                                }
                            }
                        }
                    }
                }

                .content-tr {
                    background: #f7f7f7;
                    height: 10%;
                    width: 80%;
                    text-align: center;
                    border: 1px solid #f7f7f7;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    transform: translateY(-25px);
                    color: #19456c;
                    overflow-x: hidden; 

                    ion-row{
                        margin: 15px 0px 15px 0px;
                        @media (max-width: 1366px) {
                            margin: 15px 0px 15px 0px;
                            font-size: 1.4rem !important;
                        }
                    }

                    .text {
                        width: 100%;
                        margin: 20px 0px 0px 0px !important;

                        div {
                            width: 100%;
                            color: #19456c;
                            text-align: center;
                        }
                    }
                }

                .two-btn {
                    margin: 0px 0px 20px 0px;
                    @media(max-width: 1366px) {
                        margin: 0px 0px 10px 0px;
                    }

                    ion-col {
                        position: relative;
                        font-size: 1.5rem;
                        
                        @media(max-width: 1366px) {
                            height: 50px;
                        }

                        div {
                            width: 45%;
                            height: 50px;
                            border-radius: 15px;
                            text-align: center;
                            border: 1px solid #6d6e71;
                            margin: 0px 15px 0px 15px;
                            padding: 15px;

                            @media(max-width: 1366px) {
                                height: 40px;
                                padding: 13px;
                                border-radius: 15px;
                                margin-top: 0px;
                            }
                        }

                        .saveSth {
                            color: #6d6e71;
                            position: absolute;
                            right: 0px;
                            background: white;
                        }

                        .saveSth-checked {
                            color: white;
                            position: absolute;
                            right: 0px;
                            background: #6d6e71;
                        }

                        .useSth {
                            color: #6d6e71;
                            background: white;
                        }

                        .useSth-checked {
                            color: white;
                            background: #6d6e71;
                        }
                    }
                }

                .blank {
                    width: 15px;
                    height: 30px; 
                    @media(max-width: 1366px) {
                        height: 0px;
                    }
                }

                .checkcheck {
                    margin: 30px 0px 20px 0px;
                    @media(max-width: 1366px) {
                        margin: 0px 0px 0px 0px;
                    }

                    ion-col {
                        position: relative;

                        div {
                            margin: 15px;
                            color: #19456c;
                            font-size: 1.5rem;
                            display: flex;
                            align-items: center;

                            @media(max-width: 1366px) {
                                margin: 0px 15px;
                            }

                            check-box {
                                margin-right: 10px;
                                @media (max-width: 1366px) {
                                    margin-right: 5px;
                                }

                                img {
                                    border-radius: 0px;
                                    box-shadow: none;
                                    width: 30px;
                                    height: 30px;
                                    display: flex;
                                    margin-top: 0px;

                                    @media (max-width: 1366px) {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }

                            }
                        }

                        .cardCheck {
                            position: absolute;
                            right: 0px;
                        }
                    }
                }

                .input-text {
                    width: 100%;
                    color: #c0c2c4;
                    margin-top: 20px;

                    ion-col {
                        width: 50%;
                        .left {
                            width: 100%;
                            padding: 15px 0px 0px 110px;

                            @media(max-width: 1366px) {
                                padding: 15px 0px 0px 65px;
                            }
                        }

                        .right {
                            padding: 15px 15px 0px 15px;
                        }
                    }
                }

                .membership-input-box {
                    width: 100%;

                    .input-left {
                       padding: 15px 0px 15px 110px;

                       @media(max-width: 1366px) {
                           padding: 15px 0px 15px 65px;
                       }
                    }

                    .input-right {
                        padding:15px 50px 15px 15px;
                    }

                    div {
                        width: 50%;
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        line-height: 50px;
                        
                        @media(max-width: 1366px) {
                            line-height: 40px;
                        }


                        .membership-input {
                            width: 150px;
                            height: 56px;
                            background: white;
                            font-size: 1.4rem;
                            border: 1px solid #c0c2c4;
                            border-radius: 3px 0px 0px 3px;
                            
                            @media (max-width: 1366px) {
                                height: 42px;
                                width: 110px;
                            }

                            numpad-input div, input {
                                width: 150px;
                                height: 54px;
                                font-size: 1.8rem;
                                color: #214b72;
                                padding-left: 10px;
                                @media(max-width: 1366px) {
                                    padding-left: 10px;
                                    font-size: 1.4rem;
                                    width: 110px;
                                    height: 40px;
                                
                                }
                            }
                        }


                        .input-clear {
                            background: white;
                            color: #19456c;
                            border: 1px solid #c0c2c4;
                            width: 60px;
                            font-size: 2rem;
                            justify-content: center;
                            border-radius: 3px;

                        }

                        .use-all {
                            border: 1px solid #c0c2c4;
                            background: #cccccc;
                            color: #6d6e71;
                            width: 90px;
                            margin-left: 5px;
                            justify-content: center;
                            border-radius: 3px;
                        }
                    }
                }

                .totalSth {
                    margin: 30px 0px 30px 0px;
                    @media (max-width: 1366px) {
                    margin: 25px 0px;
                    }

                    div {
                        display: table;
                        margin-left: auto;
                        margin-right: auto;
                        width: 40%;
                        height: 10%;
                        border-top: 2px solid #d1d3d4;
                        padding-top: 20px;
                        @media (max-width: 1366px) {
                            padding-top: 15px;
                        }

                        ion-row {
                            color: #fd6366;
                            font-size: 1.6rem;
                            //padding: 20px 0px 0px 0px;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            flex-direction: row;
                            align-items: center;
                            
                            .text {
                                text-align: right;
                            }

                            ion-col {
                                display: flex;
                                justify-content: flex-start;
                                flex-direction: row;
                            }
                            ion-icon::before{
                                font-size:1.8rem;
                                margin-right: 10px
                            }
                        }
                    }
                }

                .totalSth2 {
                    margin: 50px 0px 30px 0px;
                    @media(max-width: 1366px) {
                        margin: 35px 0px 30px 0px;
                    }

                    div {
                        display: table;
                        margin-left: auto;
                        margin-right: auto;
                        width: 20%;
                        height: 10%;
                        border-top: 2px solid #d1d3d4;
                        padding-top: 20px;
                        @media(max-width: 1366px) {
                            padding-top: 15px;
                        }

                        ion-row {
                            color: #fd6366;
                            font-size: 1.6rem;
                            //padding: 20px 0px 0px 0px;
                            width: 100%;
                            height: 100%;
                            
                            .text {
                                text-align: center;
                            }

                            ion-col {
                                display: flex;
                                justify-content: flex-start;
                                flex-direction: row;
                            }
                            ion-icon::before{
                                font-size:1.8rem;
                                margin-right: 10px
                            }
                        }
                    }
                }

                .totalSth3 {
                    margin:70px 0px 30px 0px;
                    @media(max-width: 1366px) {
                        margin: 40px 0px 30px 0px;
                    }

                    div {
                        display: table;
                        margin-left: auto;
                        margin-right: auto;
                        width: 30%;
                        height: 10%;
                        border-top: 2px solid #d1d3d4;
                        padding-top: 20px;
                        @media(max-width: 1366px) {
                            padding-top: 15px;
                        }

                        ion-row {
                            color: #fd6366;
                            font-size: 1.6rem;
                            //padding: 20px 0px 0px 0px;
                            width: 100%;
                            height: 100%;
                            
                            .text {
                                text-align: center;
                            }
                            
                            ion-col {
                                display: flex;
                                justify-content: flex-start;
                                flex-direction: row;
                            }
                            ion-icon::before{
                                font-size:1.8rem;
                                margin-right: 10px
                            }
                        }
                    }
                }

                .totalSth4 {
                    margin: 30px 0px 30px 0px;
                    @media(max-width: 1366px) {                    
                        margin: 25px 0px;
                    }

                    div {
                        display: table;
                        margin-left: auto;
                        margin-right: auto;
                        width: 25%;
                        height: 10%;
                        border-top: 2px solid #d1d3d4;
                        padding-top: 20px;
                        @media(max-width: 1366px) {
                            padding-top: 15px;
                        }

                        ion-row {
                            color: #fd6366;
                            font-size: 1.6rem;
                            //padding: 20px 0px 0px 0px;
                            width: 100%;
                            height: 100%;
                            
                            .text {
                                text-align: center;
                                font-size: 1.6rem;
                            }

                            ion-col {
                                display: flex;
                                justify-content: flex-start;
                                flex-direction: row;
                            }
                            ion-icon::before{
                                font-size:1.8rem;
                                margin-right: 10px
                            }
                        }
                    }                    
                }

                .info-text {
                    color: #5f7d98;
                    position: relative;

                    div {
                        position: absolute;
                        left: 230px;
                        @media(max-width: 1366px) {
                            left: 150px;
                        }
                    }
                }

                .input-text2 {
                    margin-top: 50px;
                    margin-bottom: 20px;
                    @media(max-width: 1366px) {
                        margin-top: 25px;
                        margin-bottom: 10px;
                    
                    }

                    ion-col {
                        color: #c0c2c4;

                        .left2 {
                            padding-left: 70px;
                            @media(max-width: 1366px) {
                                padding-left: 35px;
                            }
                        }

                        .right2 {
                            padding-left: 40px;
                        }
                    }
                }

                .useStamp {
                    width: 100%;
                    
                    ion-col {

                        div {
                            display: flex;
                            flex-direction: row;
                            text-align: center;
                            line-height: 50px;
                            @media(max-width: 1366px) {
                                line-height: 40px;
                            }

                            .blank {
                                width: 70px;
                                @media(max-width: 1366px){
                                    width: 45px;
                                }
                            }

                            .blank2 {
                                width: 40px;
                            }

                            .membership-input {
                                width: 150px;
                                height: 56px;
                                background: white;
                                font-size: 1.4rem;
                                border: 1px solid #c0c2c4;
                                border-radius: 3px 0px 0px 3px;
                                
                                @media (max-width: 1366px) {
                                    height: 42px;
                                    width: 110px;
                                }
    
                                numpad-input div, input {
                                    width: 150px;
                                    height: 54px;
                                    font-size: 1.8rem;
                                    color: #214b72;
                                    padding-left: 10px;
                                    @media(max-width: 1366px) {
                                        padding-left: 10px;
                                        width: 110px;
                                        font-size: 1.4rem;
                                        height: 40px;
                                    
                                    }
                                }
                            }

                            .input-clear {
                                background: white;
                                color: #19456c;
                                border: 1px solid #c0c2c4;
                                width: 60px;
                                font-size: 2rem;
                                justify-content: center;
                                border-radius: 3px;
                            }

                            .use-all {
                                border: 1px solid #c0c2c4;
                                background: #cccccc;
                                color: #6d6e71;
                                width: 90px;
                                margin-left: 5px;
                                justify-content: center;
                                border-radius: 3px;
                            }       

                            #serviceItem {
                                height: 52px;
                                color: #19456c;
                                padding: 15px;
                                width: 200px;
                                @media(max-width: 1366px) {
                                    height: 41px;
                                    padding: 5px;
                                    width: 130px;
                                }
                            }       

                            .save-ratio2 {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                text-align: center;
                                line-height: 52px;
                                margin-left: 20px;
                                @media(max-width: 1366px) {
                                    line-height: 40px;
                                    margin-left: 10px;
                                }
                                
                                div {
                                    justify-content: center;
                                    border: 1px solid #c0c2c4;
                                    flex: unset; //원래 있었어
                                    width: 56px;
                                    height: 56px;
                                    @media (max-width: 1366px) {
                                        width: 41px;
                                        height: 41px;
                                    }

                                    numpad-input div{
                                        width: 54px;
                                        height: 54px;
                                        border: none;
                                        @media (max-width: 1366px) {
                                            width: 39px !important;
                                            height: 39px !important;
                                        }
                                    }

                                }

                                .plus-minus {
                                    background: white;
                                    flex: unset;
                                    font-size: 2.5rem;
                                    color: #5e7d99; 
                                }                                
                            }              
                        }
                    }
                }

                .middle-line {
                    @media (max-width: 1366px) {
                        margin: -20px;
                    }
                }

                .inputCost {
                    .cost-text{
                        height: 40px;
                        width: 180px;
                        display: table;
                        margin-left: auto;
                        margin-right: auto;
                        color: #a7a9ac;
                        @media (max-width: 1366px) {
                            height: 30px;
                            font-size: 1.2rem;
                        }
                    }
                    
                    .input-box {
                        background: white;
                        border: 1px solid #c0c2c4;
                        width: 180px;
                        height: 60px;
                        display: table;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 30px;
                        text-align: center;
                        line-height: 60px;
                        @media (max-width: 1366px) {
                            width: 145px;
                            height: 50px;
                            line-height: 50px;
                        }
                        
                        numpad-input{
                            .focused {
                                background: none;
                            }
                        }

                    }
                }

                .save-ratio {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    text-align: center;
                    line-height: 60px;
                    margin-top: 50px;

                    @media(max-width: 1366px) {
                        line-height: 40px !important;
                        margin-top: 20px;
                    }
                    
                    div {
                        border: 1px solid #c0c2c4;
                        flex: unset; //원래 있었어
                        width: 60px;
                        height: 60px;
                        @media (max-width: 1366px) {
                            width: 40px !important;
                            height: 40px !important;
                        }
                        numpad-input div{
                            width: 58px;
                            height: 58px;
                            border: none;
                            @media (max-width: 1366px) {
                                width: 38px !important;
                                height: 38px !important;
                            }

                        }
                        numpad-input2 div{
                            width: 58px;
                            height: 58px;
                            border: none;
                            @media (max-width: 1366px) {
                                width: 38px !important;
                                height: 38px !important;
                            }

                        }
                    }

                    .plus-minus {
                        background: white;
                        flex: unset;
                        font-size: 2.5rem;
                        color: #5e7d99; 
                    }
                }

                .cash-or-charge {
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    line-height: 60px;


                    div {
                        margin-left: 10px;
                        width: 100px;
                        height: 60px;
                        border: 1px solid #cbcdce;
                        @media (max-width: 1366px) {
                            width: 80px;
                            height: 50px;
                        }
                        div {
                            border: none;
                            margin-top: -2px;
                            margin-left: -1px;
                            @media (max-width: 1366px) {
                                margin-top: -4px;
                            }
                        }
                    }

                    .byCard, .byCash {
                        background: #f7f7f7;
                        color: #a7a9ac;
                    }

                    .byCash-clicked, .byCard-clicked {
                        background: #fd6366;
                        color: white;
                    }
                }

                .total {
                    font-size: 1.6rem;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 30px;
                    padding: 0px;
                    border-top: 1px solid #a7a9ac;
                    width: 300px;
                    height: 150px;
                    @media (max-width: 1366px) {
                        margin-top: 20px;
                        height: 100px;
                        font-size: 1.5rem;
                    }

                    .first {
                        text-align: right;
                        color: #fd6366;
                        margin-top: 30px;
                        @media (max-width: 1366px) {
                            margin-top: 20px;
                        }
                    }

                    .second {
                        text-align: right;
                        color: #19456c;
                        margin-top: 30px;
                        @media (max-width: 1366px) {
                            margin-top: 20px;
                        }
                    }

                }

                .okay-background {
                    background: #f7f7f7;
                    padding-bottom: 5px;
                    border-radius: 0 0 15px 15px;
                    position: absolute;
                    width: 100%;
                    bottom: -20px;
                    
                }
                
                .okay {
                    font-size: 1.7rem;
                    color: white;
                    background: #fd6366;
                    height: 10%;
                    text-align: center;
                    border: 1px solid;
                    border-radius: 15px;
                    padding: 15px 100px 15px 100px;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 30px;
                    margin-top: 0px;
                    @media (max-width: 1366px) {
                        font-size: 1.6rem;
                        padding: 15px 75px 15px 75px;
                        margin-top: 10px;
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .right {
            z-index: 99999;

            .container {
                width: 390px;
                //height: 440px;
                margin: 150px 0px 0px 20px;
                @media(max-width: 1366px) {
                    margin: 100px 0px 0px 10px;
                    width: 280px; 
                }
            }
        }

        .rightest {
            width: 7.5%;
        }

    }



}
