<ion-header>
  <alert-header [title]="title" (closeAction)="close(0)"></alert-header>
</ion-header>
<ion-content>
  <div class="alert-content">
    <div class="input-section">
      <div class="label">
        {{label}}
      </div>
      <input type="" name="" value="" [(ngModel)]="input_str">
    </div>
    <div class="confirm-btns">
      <div class="cancel-btn" (click)="close(0)">
        취소 
      </div>
      <div class="confirm-btn" (click)="close(1)">
        확인 
      </div>
    </div>
  </div>
</ion-content>