<!-- <img src="assets/icon/checked-check.png" *ngIf="checked" (click)="checked=!checked" />
<img src="assets/icon/unchecked-check.png" *ngIf="!checked" (click)="checked=!checked" /> -->
<ion-icon  name="cp-check-box1" *ngIf="checked "  [ngStyle]="{'color': getCheckedColor()}" (click)="checked=!checked" ></ion-icon>
<ion-icon class="unchecked" name="cp-check-box1" *ngIf="!checked" [ngStyle]="{'color': getUnCheckedColor()}" (click)="checked=!checked"></ion-icon>