page-new-dc {
    .scroll-content {
        background: #f7f7f7;
        padding: 0px 40px !important;
    }

    .outer-container {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .info-container {
        flex-grow: 1;

        display: flex;
        flex-direction: row;
        align-items: center;

        .inner-container {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .left-input {
            flex-basis: 35%;
            display: flex;
            flex-direction: column;

            .top, .bottom {
                flex-grow: 1;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .title {
                color: #abadb0;
                margin: 15px 0px;
            }

            .top {
                .type {
                    margin: 20px 0px;
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    div {
                        color: #abadb0;
                        text-align: center;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        margin: 0px 13px;

                        &.selected {
                            color: #eb5361;
                        }

                        ion-icon::before {
                            font-size: 2.3rem !important;
                        }
                    }
                }
            }

            numpad-input div, input {
                width: 80%;
                background: white;
                border: 1px solid #d1d3d4;
                border-radius: 5px;
                height: 60px;
                font-size: 20px;
                line-height: 60px;
                padding: 0px 15px;
                color: #214b72;
            }
        }
        .right-numpad {
            flex-grow: 1;
        }
    }

    .confirm-btns {
        flex-shrink: 0;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px 0px;

        div {
            flex-basis: 37%;
            padding: 20px 0px;
            color: white;
            border-radius: 20px;
            text-align: center;
            margin: 0px 20px;
            font-size: 1.6rem;
        }
        .cancel-btn {
            background: #6d6e72;
        }
        .confirm-btn {
            background: linear-gradient(270deg, #fd7773, #eb505e);
        }
    }
}
