<ion-header>
  <alert-header [title]="title" (closeAction)="close(false);"></alert-header>
  <div class="backdrop" *ngIf="floatEnabled"></div>
</ion-header>
<ion-content>
  <div class="outer-container">
    <div class="info-container">
      <div class="inner-container">
        <div class="left-input">
          <div class="top">
            <div class="title">
              할인율, 할인금액
            </div>
            <div>
              <numpad-input #dcAmt [(value)]="item.dcAmt"></numpad-input>
            </div>
            <div class="type">
              <div class="percent" (click)="item.dcType = 2" [ngClass]="{'selected': item.dcType == 2}">
                <ion-icon name="cp-dis-percent"></ion-icon>
              </div>
              <div class="cash" (click)="item.dcType = 1" [ngClass]="{'selected': item.dcType == 1}">
                <ion-icon name="cp-dis-won"></ion-icon>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="title">
              할인명
            </div>
            <div>
              <input type="text" [(ngModel)]="item.dcName">
            </div>
          </div>
        </div>
        <div class="right-numpad">
          <numpad></numpad>
        </div>
      </div>
    </div>
    <div class="confirm-btns">
      <div class="cancel-btn" (click)="close(false)">
        취소
      </div>
      <div class="confirm-btn" (click)="close(true)">
        확인
      </div>
    </div>
  </div>
</ion-content>
