page-begin {
    .scroll-content {
        display: flex;
        align-items: center;
    }

    .outer-container {
        width: 85%;
        margin: 30px auto;
        display: flex;
        flex-direction: row;

        numpad {
            flex-grow: 1;
            flex-shrink: 0;
        }
        
        .left-section {
            flex-basis: 72%;
            padding: 30px 60px;
            display: flex;
            flex-direction: column;
            background: white;
            border-radius: 20px;
            box-shadow: 1px 1px 19px 3px rgba(0, 0, 0, 0.09);
            margin-right: 50px;

            .date-picker-section {
                display: flex;
                align-items: center;
                flex-direction: row;
                color: #eb505e;
                margin: 10px 0px;

                .date {
                    font-size: 3.2rem;
                    @media (max-width: 1366px) {
                        font-size: 2.5rem;
                    }
                }
                .select-date {
                    display: flex;
                    align-items: center;
                    background: #f9f9f8;
                    padding: 14px;
                    margin-left: 40px;
                    border: 1px solid #eaeaea;
                    border-radius: 20px;
                    @media (max-width: 1366px) {
                        padding: 8px 14px;
                        border-radius: 10px;
                        margin-left: 20px;
                    }

                    ion-icon {
                        margin-right: 14px;
                    }
                }
            }

            .content {
                display: flex;
                flex-direction: row;

                .content-left, .content-right {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 50%;
                }

                .content-left {
                    margin-right: 30px;
                }
                .content-right {
                    margin-left: 30px;
                }

                .table-header {
                    display: flex;
                    flex-direction: row;
                    background: #5e7d99;
                    color: white;
                    border-radius: 15px;
                    margin: 20px 0px;
                    @media (max-width: 1366px) {
                        margin: 10px 0px;
                        border-radius: 7px;
                    }

                    div {
                        flex: 1;
                        padding: 18px 35px;
                        text-align: center;
                        font-size: 1.3rem;
                        text-overflow: ellipsis;
                        @media (max-width: 1366px) {
                            padding: 7px 15px;
                            font-size: 1.1rem;
                        }
                    }

                    .center {
                        border-left: 1px solid #eeeeee;
                        border-right: 1px solid #eeeeee;
                    }
                }

                .table-row {
                    display: flex;
                    flex-direction: row;
                    padding: 15px 0px;
                    border-top: 1px solid #eeeeee;
                    border-bottom: 1px solid #eeeeee;
                    @media (max-width: 1366px) {
                        padding: 7px 0px;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        flex: 1;
                        font-size: 1.7rem;
                        @media (max-width: 1366px) {
                            font-size: 1.3rem;
                        }
                    }

                    .center {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        div {
                            flex: unset;
                            width: 50px;
                            height: 50px;
                            justify-content: center;
                            @media (max-width: 1366px) {
                                width: 25px;
                                height: 25px;
                            }
                        }

                        .plus-minus {
                            flex: unset;
                            border: #eeeeee 1px solid;
                            font-size: 2.5rem;
                            color: #5e7d99;
                            // @media (max-width: 1366px) {
                            //     font-size: 2rem;
                            // }
                        }
                    }

                    .left {
                        justify-content: center;
                        margin-left: 10px;
                    }

                    .right {
                        justify-content: flex-end;
                        margin-right: 10px;
                    }
                }
            }

            .total {
                text-align: right;
                margin-top: -20px;
                font-size: 2rem;
                color: #eb505e;
                padding-bottom: 50px;
                @media (max-width: 1366px) {
                    margin-top: -10px;
                    font-size: 1.8rem;
                    padding-bottom: 30px;
                }
            }
        }
    }

    .btn-container {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
