<ion-content>
  <div class="outer-container">
    <div class="left-section">
      <div class="date-picker-section">
        <span class="date">{{today | date:'y.MM.dd'}}</span>
        <span class="select-date" (click)="clickDatePicker()"><ion-icon name="cp-select-date"></ion-icon>날짜선택</span>
      </div>
      <div class="content">
        <div class="content-left">
          <div class="table-header">
            <div>영업준비금</div>
            <div class="center">장수</div>
            <div>금액</div>
          </div>
          <div class="table-row" *ngFor="let coin of cash | slice:0:5; let i = index">
            <div class="left">{{cash[i].value | number}} 원권</div>
            <div class="center">
              <div class="plus-minus" (click)="pm('-', i)">-</div>
              <div>
                <numpad-input [(value)]="cash[i].cnt"></numpad-input>
              </div>
              <div class="plus-minus" (click)="pm('+', i)">+</div>
            </div>
            <div class="right">{{cash[i].value * cash[i].cnt | number}}원</div>
          </div>
        </div>
        <div class="content-right">
          <div class="table-header">
            <div>영업준비금</div>
            <div class="center">장수</div>
            <div>금액</div>
          </div>
          <div class="table-row" *ngFor="let coin of cash | slice:5:9; let i = index">
            <div class="left">{{cash[i + 5].value | number}} 원권</div>
            <div class="center">
              <div class="plus-minus" (click)="pm('-', i + 5)">-</div>
              <div>
                <numpad-input [(value)]="cash[i + 5].cnt"></numpad-input>
              </div>
              <div class="plus-minus" (click)="pm('+', i + 5)">+</div>
            </div>
            <div class="right">{{cash[i + 5].value * cash[i + 5].cnt | number}}원</div>
          </div>
        </div>
      </div>
      <div class="total" text-right>
        합계 : {{sum() | number}}원
      </div>
    </div>
    <numpad [length]="3"></numpad>
  </div>
  <div class="btn-container">
    <div (click)="goBegin()" class="ok-btn">
      영업 시작하기
    </div>
  </div>
</ion-content>