<!--
  Generated template for the SaveStampContainerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <alert-header [title]="pageTitle" (closeAction)="closeModal($event);"></alert-header>
</ion-header>

<ion-content padding>
  <div class="main-container">
    <div class="main">
      <div class="first-line" *ngIf="saveOrUse">+ {{beforeStamp}} 스탬프</div>
      <div class="first-line" *ngIf="!saveOrUse">- {{beforeStamp}} 스탬프</div>
      <div class="second-line">보유 현황</div>
      <div class="third-line">
        <ion-row>
          <ion-col col-8>
            <div class="third-first-col">스탬프:</div>
          </ion-col>
          <ion-col col-8>
            <div class="third-second-col">{{afterStamp}}</div>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="okay-background">
      <span class="okay" (click)="closeModal()">확인</span>
    </div>
  </div>
</ion-content>
