page-stock-warn {
    .scroll-content {
        background: #f7f7f7;
    }

    .stock-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin: 50px 0px;
    }

    .sold-out {
        color: #8968d8;
        text-align: center;
        font-size: 1.7rem;
    }
    .lt-30 {
        color: #e29933;
        text-align: center;
        font-size: 1.7rem;
    }
    .lt-10 {
        color: #ed1c24;
        text-align: center;
        font-size: 1.7rem;
    }

    .stock-warn {
        position: absolute;
        top: 5px;
        left: 14px;
        width: 35px;
        height: auto;
        z-index: 100099;
    }

    .menu-item {
        position: relative;
        width: 30%;

        .menu-item-inner {
            position: relative;
            margin: 5px;
            padding: 10px 5px 0px 5px;
            background: white;
            box-shadow: 5px 5px 18px 1px rgba(0, 0, 0, 0.08);
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .menu-image {
                position: relative;
                width: 90%;
                margin: 0px auto;
                overflow: hidden;
                
                img {
                    object-fit: cover;
                }
                .menu-price {
                    position: absolute;
                    z-index: 10;
                    bottom: 0;
                    right: 0;
                    background: linear-gradient(90deg, rgba(#f87f7c, 0.8), rgba(#df6974, 0.8));
                    color: white;
                    padding: 7px 5px;
                }
            }
            .menu-name {
                text-align: center;
                padding: 20px;
                font-size: 1.6rem;
            }
        }        
    }

    .ok-btn {
        width: 33%;
        height: 70px;
        line-height: 70px;
        margin: unset;

        @media screen and (max-width: 1366px){
            height: 50px;
            line-height: 50px;
        }
    }
}
