<ion-header>
  <alert-header [title]="title" (closeAction)="close($event)"></alert-header>
</ion-header>
<ion-content>
  <div class="stock-container">
    <div class="menu-item">
      <div class="stock-warn" *ngIf="data.soldOutYN != 1 && data.stockSaleYN == 1 && data.stockCNT <= 30">
        <img *ngIf="data.stockCNT <= 10" src="assets/images/red-back.png" alt="">
        <img *ngIf="data.stockCNT > 10" src="assets/images/orange-back.png" alt="">
      </div>
      <div class="stock-warn" *ngIf="data.soldOutYN == 1">
        <img src="assets/images/lock.png" alt="">
      </div>
      <div class="menu-item-inner" square>
        <div class="menu-image">
          <img [src]="data.thumbnailS ? data.thumbnailS : 'assets/images/default-menu.png'" alt="">
          <div class="menu-price">
            {{data.saleAmt | number}}원
          </div>
        </div>
        <div class="menu-name">
          {{data.menuName}}
        </div>
      </div>
    </div>
    <div *ngIf="data.soldOutYN == 1" class="sold-out">
      현재 잠금상태입니다.<br/>메뉴편집에서 비활성화를 풀어주세요.
      <br/>"메뉴 우측 상단 > 편집 > 해당 메뉴 선택 > 메뉴 임시 잠금 OFF"
    </div>
    <div *ngIf="data.soldOutYN == 0 && data.stockCNT > 0" [ngClass]="{'lt-30': data.stockCNT > 10, 'lt-10': data.stockCNT <= 10}">
      해당 상품 재고가 {{data.stockCNT <= 10 ? 10 : 30}}개 이하로 남았습니다.
    </div>
    <div class="ok-btn" (click)="close()">
      확인
    </div>
  </div>
</ion-content>