<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <alert-header [title]="pageTitle" (closeAction)="closeModal($event);"></alert-header>
</ion-header>

<ion-content padding>
  <div class="main-background">
    <ion-row>
      <ion-col col-2>
      </ion-col>
      <ion-col col-12>
        <div>지도를 확대해서, 매장 위치를 클릭하시면 마커(핀)이 생깁니다.<br>마커(핀)을 한번 더 클릭하시면 선택이 완료 됩니다.</div>
      </ion-col>
      <ion-col col-2 (click)="refresh()">
        <div>새로<br>고침</div>
      </ion-col>
    </ion-row>
    <ion-row class="map-main">
      <div id="map"></div>
    </ion-row>
  </div>
</ion-content>
