page-map {
    ion-content {
            .main-background {
                width: 100%;
                height: 100%;
                background: #e6e7e8;

                ion-row {
                    height: 15%;
                    
                    ion-col {
                        position: relative;
                        color: #b4b5b8;

                        div {
                            position: absolute;
                            top: 40px;
                            left: 10px;
                            font-size : 1.5rem;
                            color: #b4b5b8;
                            @media (max-width: 1366px) {
                                font-size: 1.3rem;
                                top: 25px;
                                left: -10px;
                            }
                        }
                    }
                }

                .map-main {
                    height: 75%;

                    #map {
                        height: 100%;
                        width: 90%;
                        display: table;
                        margin-left: auto;
                        margin-right: auto;
                        border: 2px solid #b4b5b8;
                        border-radius: 15px;
                    }
                }
            }
    }
}
