@import "../theme/icons";

@media (max-width: 1920px) {
    body, html {
        font-size: 13px;
    }
}

@media (max-width: 1366px) {
    body, html {
        font-size: 9px;
    }
}

ion-content, .nav-decor {
    background: transparent !important;
}
ion-content .scroll-content {
    background: transparent;
}

.ui-draggable-dragging {
    z-index: 999999;
    opacity: 0.8 !important;
}

ion-menu {
    .menu-inner {
        width: 350px;

        @media (max-width: 1366px) {
            width: 250px;
        }
    }

    .scroll-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #f0f0f0;

        .top {
            position: relative;
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #19456c;
            height: 200px;
            
            .pos-logo-img {
                width: 20%;
                transform: translateY(-20%);
            }

            .profile-img {
                position: absolute;
                bottom: 0%;
                transform: translateY(50%);
                width: 120px;
                height: 120px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                border-radius: 50%;

                @media screen and (max-width: 1366px) {
                    width: 100px !important;
                    height: 100px !important;

                    img {
                        width: 100px !important;
                        height: 100px !important;
                    }
                }
                
                img {
                    position: relative;
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                    max-width: unset !important;
                    border-radius: 50%;
                }
            }
        }

        .profile {
            flex: 1;
            display: flex;
            align-items: center;
            color: #19456d;
            margin-top: 35px;
            font-size: 1.8rem;
        }

        .item {
            flex: 1;
            width: 100%;
            padding: 0px 25%;
            display: flex;
            align-items: center;
            // justify-content: center;
            font-size: 1.8rem;
            letter-spacing: 4px;
            border-bottom: #e5e5e5 2px solid;
            color: #939598;

            ion-icon::before {
                margin-right: 10px;
                font-size: 2.7rem;
            }
            
            &.end{
                flex: 1.5;
                border: none;
                letter-spacing: 0px;
                color: #19456d;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                padding: 5% 25%;

                div{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

            }
        }

        .selected {
            background: #e4e4e4;
            color: #ea5c69;
        }
    }
}

.cursor {
    cursor: pointer;
}

.scroll-content {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 0px !important;
    min-height: 600px;
}

@media (max-height: 600px) {
    .scroll-content {
        overflow-y: scroll !important;
    }
}

ion-col, ion-row {
    padding: 0px !important;
}

ion-row {
    flex-grow: 1;
}

ion-backdrop {
    background: black !important;
    opacity: 0.7 !important;
}

.modal-wrapper {
    box-shadow: 5px 7px 31px 4px rgba(0, 0, 0, 0.8);
    border-radius: 20px;

    .scroll-content {
        min-height: unset !important;
    }
}

.full-modal {
    .modal-wrapper {
        height: 100%;
        top: unset;
    }
}

.date-modal {
    .modal-wrapper {
        height: 600px;
        width: 500px;
        top: calc(50% - 300px) !important;
        left: calc(50% - 250px) !important;

        @media (max-width: 1366px) {
            position: absolute;
            height: 550px;
            width: 450px;
            top: calc(50% - 275px) !important;
            left: calc(50% - 225px) !important;
        }
    }

}

.mileage-modal {
    .modal-wrapper{
        top: 9% ; 
        left: 27.5% ;
        height: 83% ;
        width: 45% ;        
    }
}

.message-modal {
    .modal-wrapper {
        height: 350px;
        width: 600px;
        top: calc(50% - 175px) !important;
        left: calc(50% - 300px) !important;

        @media (max-width: 1366px) {
            position: absolute;
            height: 250px;
            width: 400px;
            top: calc(50% - 125px) !important;
            left: calc(50% - 200px) !important;
        }
    }
}

.medium-modal {
    .modal-wrapper {
        height: 800px;
        width: 700px;
        top: calc(50% - 400px) !important;
        left: calc(50% - 350px) !important;

        @media (max-width: 1366px) {
            position: absolute;
            height: 600px !important;
            width: 600px !important;
            top: calc(50% - 300px) !important;
            left: calc(50% - 300px) !important;
        }
    }
}

.basic-modal {
    .modal-wrapper {
        @media (max-width: 1366px) {
            position: absolute;
            height: 450px;
            width: 450px;
            top: calc(50% - 225px) !important;
            left: calc(50% - 225px) !important;
        }
    }
}

.side-tab {
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 2;
    box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.2);
    background-image: url('../assets/images/logo.png');
    background-position: center 90%;
    background-size: 70% auto;
    background-repeat: no-repeat;
    
    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 100%;
        color: #808285;
        word-break: keep-all;
        text-align: center;
        font-size: 1.9rem;
        border-bottom: #cecfd0 1px solid;
        margin: 0px auto;
        padding: 0px 10px;

        @media (max-width: 1366px) {
            height: 100px;
        }

        ion-icon {
            margin: 10px 0px;
        }
        ion-icon::before {
            font-size: 3rem !important;
        }
        
        &.selected {
            background: #ee5762;
            width: 100%;
            color: white;
        }
    }

    .full {
        flex-grow: 1;
    }
}

.ok-btn {
    width: 300px;
    height: 85px;
    text-align: center;
    color: white;
    background: #f6686b;
    font-size: 1.7rem;
    border-radius: 20px;
    line-height: 85px;
    margin: auto;
    
    @media (max-width: 1366px) {
        width: 180px;
        height: 45px;
        font-size: 1.5rem;
        border-radius: 10px;
        line-height: 45px;
    }
}

.ok-sm-btn {
    width: 160px;
    height: 45px;
    text-align: center;
    color: white;
    background: linear-gradient(90deg, #fd7672, #ec515f);
    font-size: 1.3rem;
    border-radius: 25px;
    line-height: 45px;
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    border: 0;
    z-index: 10000;
    background: #000;
    opacity: 0.7;
}

.custom-toast{
    text-align: center;
}