<ion-menu [content]="content" type="overlay">
  <ion-content>
    <div class="top">
      <img class="pos-logo-img" src="assets/images/posnn.png" alt="">
      <div class="profile-img">
        <img [src]="loginSession.getInfo().thumbnail ? loginSession.getInfo().thumbnail : 'assets/images/default-menu.png'" alt="">
      </div>
    </div>
    <div class="profile">
      {{loginSession.getInfo().storeName}}
    </div>
    <div class="item" [ngClass]="{'selected': selectedIdx == 0}" (click)="go(0)">
      <ion-icon name="cp-sale"></ion-icon>영업
    </div>
    <div class="item" [ngClass]="{'selected': selectedIdx == 1}" (click)="go(1)">
      <ion-icon name="cp-search"></ion-icon>조회
    </div>
    <div class="item" [ngClass]="{'selected': selectedIdx == 2}" (click)="go(2)">
      <ion-icon name="cp-id"></ion-icon>멤버십
    </div>
    <div class="item" [ngClass]="{'selected': selectedIdx == 3}" (click)="go(3)">
      <ion-icon name="cp-system-setting"></ion-icon>설정
    </div>
    <div class="item end">
      <div  (click)="go(6)">
        <ion-icon name="cp-end"></ion-icon>영업마감
      </div>
      <div (click)="go(5)">
        <ion-icon name="cp-logout"></ion-icon>로그아웃
      </div>
    </div>
  </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>