page-order-table {
    .scroll-content {
        margin-bottom: 40px;
    }

    .left-content {
        position: relative;

        .menu-item-container {
            overflow-y: scroll;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .menu-item {
                position: relative;
                padding: 0px;
                margin: 20px 0px;                
                flex-basis: 20%;

                @media screen and (max-width: 1366px) {
                    margin: 10px 0px;
                }
                
                .stock-warn {
                    position: absolute;
                    top: 5px;
                    left: 14px;
                    width: 35px;
                    height: auto;
                    z-index: 100099;

                    @media screen and (max-width: 1366px) {
                        width: 25px;
                    }
            
                    .table-name {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        color: white;
                        transform: translate(-50%, -60%);
                    }
                }
                
                .menu-item-inner {
                    background: #fbfbfb;
                    position: relative;
                    margin: 5px;
                    padding: 10px 20px;
                    box-shadow: 5px 5px 18px 1px rgba(0, 0, 0, 0.08);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
            
                    .table-total {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 10;
                        background: #fd8581;
                        color: white;
                        padding: 10px 7px;
                        word-break: keep-all;
                    }
                }     
                .selected {
                    background: #faea7c !important;
                }        
            }
        }
    }
}
