<ion-header>
  <div class="category-container" [ngClass]="{'edit-mode': editMode}">
    <div class="category-content" *ngIf="store">
      <!-- <div class="category-item" *ngFor="let floor of store.floor; let i = index;" [ngStyle]="{'background': (floor.id == -1 ? '#f00' : '#0f0')}">
        <div [ngClass]="{'selected': selectedFloorIdx == i}" *ngIf="floor.id != -1"> -->
      <div *ngFor="let floor of store.floor; let i = index;">
        <div class="category-item" [ngClass]="{'selected': selectedFloorIdx == i}" *ngIf="floor.id != -1">
          <div class="x-mark-category" *ngIf="editMode" (click)="removeFloor(i);">
            <img src="assets/images/x-red.png" alt="">
          </div>
          <div class="category-name" (click)="changeFloor(i)">
            {{floor.name}}
          </div>
        </div>
      </div>
      <div class="category-item">
        <div class="category-name" style="color: transparent">
          -
        </div>
      </div>
    </div>
    <div class="edit-btn" *ngIf="!editMode" (click)="intoEditMode()">
      <span>
        <ion-icon name="cp-edit-menu"></ion-icon>편집
      </span>
    </div>
    <div class="edit-btn" *ngIf="editMode" (click)="saveEdited()">
      <span>
        <ion-icon name="cp-check-box1"></ion-icon>완료
      </span>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="left-content" *ngIf="store">
    <div class="menu-item-container">
      <div [attr.value]="i" class="menu-item" *ngFor="let item of store.table | filterBy : ['floorId']: (store.floor.length > 0) ? store.floor[selectedFloorIdx].id : null; let i = index">
      <!-- <div [attr.value]="i" class="menu-item" *ngFor="let item of store.table | filterBy : ['floorId']: store.floor.length > 0 ? store.floor[selectedFloorIdx].id : null; let i = index"> -->
      <!-- <div [attr.value]="i" class="menu-item droppable" [ngClass]="{'draggable': (editMode && item.id) || (store.floor[selectedFloorIdx].table[i].order && store.floor[selectedFloorIdx].table[i].order.total > 0)}" *ngFor="let item of store.floor[selectedFloorIdx].table; let i = index"> -->
        <div class="x-mark-menu" *ngIf="editMode && (!item.order || item.order.detail.length < 1 || !item.id)" (click)="removeTable(item);">
          <img src="assets/images/x.png" alt="">
        </div>
        <div *ngIf="item.id" class="stock-warn">
          <img src="assets/images/green-back.png" alt="">
          <div class="table-name">
            {{item.name}}
          </div>
        </div>
        <div [attr.value]="i" 
             *ngIf="editMode || item.id" 
             class="menu-item-inner" 
             [ngClass]="{'selected': selectedTableId == item.id && !editMode}" 
             (click)="showOrder(item, getOrder(item));" 
             [ngStyle]="{'background': editMode ? '#7e7e7e' : '#ffffff'}">
          <img [attr.value]="i" [ngStyle]="{'opacity': !item.id ? 0 : 1}" [src]="item.dispShape == 0 ? 'assets/images/table-rect.png' : 'assets/images/table-circle.png'" alt="">
          <div [attr.value]="i" class="table-total" *ngIf="getOrder(item) && getOrder(item).id && getOrder(item).detail.length > 0">
            {{getOrder(item).total - getOrder(item).dcTotal | number}}원
          </div>
        </div>
      </div>
    </div>
  </div> 
</ion-content>
