page-stat-menu-daily {
    .scroll-content {
        background: #f7f7f7;
        padding: 40px !important;
        justify-content: space-between;
    }

    .menu-container {
        flex-basis: 43%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        .menu-list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: white;
            width: 100%;
            padding: 20px 20px 10px 20px;
            flex-grow: 1;
            border-radius: 20px 20px 0px 0px;

            .table-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: hidden;
                border: #e9e9e9 1px solid;
                border-radius: 20px 20px 0px 0px ;

                .table-header {
                    flex-shrink: 0;

                    ion-row {
                        background: #5e7d99;
                        border-radius: 20px 20px 0px 0px !important;
                        font-size: 1.5rem;
                        padding: 15px 0px !important;
                        text-align: center;

                        ion-col:not(:last-child) {
                            border-right: 1px #8098ae solid;
                        }
                        ion-col {
                            position: relative;
                            color: white;
                        }
                    }
                }

                .table-body {
                    flex-grow: 1;
                            
                    ion-scroll {
                        padding: 0px !important;
                        height: 55vh;
                                    
                        @media (max-width: 1366px) {
                            height: 40vh;
                        }      
                        .scroll-content {
                            min-height: unset;
                            padding: 0px 0px !important;
                            background:white !important
                            }
                        }

                    ion-row {
                        border-bottom: #e9e9e9 1px solid;
                        font-size: 1.3rem;
                        // border-top: #e9e9e9 1px solid;
                        z-index: 3;
                        color:#58595B;
                        ion-col {
                            display: flex;
                            height: 5rem;
                            flex-direction: row;
                            text-align: center;
                            align-items: center;
                            justify-content: center;
                            @media (max-width: 1366px) {
                                height: 4rem;
                            }
                            ion-icon::before{
                                font-size: 1.8rem;
                                margin-right: 5px;
                            }
                        }
                        ion-col:not(:last-child) {
                            border-right: 1px #e9e9e9 solid;
                            }
                        }

                        .more-load{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size : 1.5rem;
                            border: 1px #e9e9e9 solid;
                            border-radius: 10px;
                            padding:5px;
                            margin: 15px 0;
                            width: 8rem;
                            left: 50%;
                            position: relative;
                            transform: translateX(-50%);
                            color: #58595B;
                            ion-icon{
                                font-size: 2rem;
                                margin-right: 10px;
                            }
                        }
                    }
                }

            .foot{
                color: #FF7675;
                font-size: 1.3rem;
                ion-row:nth-child(1){
                    border-left: #e9e9e9 1px solid;
                    border-right: #e9e9e9 1px solid;
                    border-radius: 3px;
                }
                ion-row {             
                    ion-col {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 8rem;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                    }
                    ion-col:not(:last-child) {
                            border-right: 1px #e9e9e9 solid;
                    }
                    .menu-info {
                        display: flex;
                        align-items: center;
                        text-align: center ;
                        width: 100%;
                        justify-content: center;
                        background-color: #F9F9F9;
                        height: 6rem;
                        .sum{
                            justify-content: center;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            align-content: center;
                            ion-icon::before{
                                font-size: 1.8rem;
                                margin-right: 5px;
                            }
                        } 
                    }
                    .vertical{
                        display: flex;
                        width: 100%;
                        height: 2px;
                        background-color: #F9F9F9;  
                    }
                }
            }
        }
    }
}
