<!--
  Generated template for the SalesMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <alert-header [title]="title" (closeAction)="close();"></alert-header>
</ion-header>
<ion-content padding>
  <div class="menu-container">
    <div class="menu-list">
      <div class="table-container">
        <ion-grid class="table-header">
          <ion-row>
            <ion-col col-4>
              상품명
            </ion-col>
            <ion-col col-2>
              수량
            </ion-col>
            <ion-col col-3>
              실매출
            </ion-col>
            <ion-col col-3>
              부가세
            </ion-col>
            <ion-col col-4>
              순매출
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="table-body">
          <ion-scroll scrollY="true">
            <ion-row *ngFor="let item of data; let idx = index; let isLast = last;">
              <ion-col col-4>
                {{item.menuName}}
              </ion-col>
              <ion-col col-2>
                {{item.menuCNT}}
              </ion-col>
              <ion-col col-3>
                <ion-icon name="cp-won"></ion-icon>{{item.payAmt| number}}
              </ion-col>
              <ion-col col-3>
                <ion-icon name="cp-won"></ion-icon> {{item.payTax | number}}
              </ion-col>
              <ion-col col-4>
                <ion-icon name="cp-won"></ion-icon> {{item.payTotal | number}}
              </ion-col>
            </ion-row>
            <div class="more-load" *ngIf='total - data.length > 0' (click)="doInfinite()"> <ion-icon name="add"></ion-icon> 더보기 </div>
          </ion-scroll>
        </ion-grid>
      </div>
      <div class="foot">
        <ion-row>
          <ion-col col-4>
            <hr class="vertical">
            <div class="menu-info">
              <div class="sum"> 합계 </div>
            </div>
          </ion-col>
          <ion-col col-2>
            <hr class="vertical">
            <div class="menu-info">
              <div class="sum">{{sumData[0] | number}} </div>
            </div>
          </ion-col>
          <ion-col col-3>
            <hr class="vertical">
            <div class="menu-info">
              <div class="sum"> <ion-icon name="cp-won"></ion-icon> <div>{{sumData[1] | number}}</div></div>
            </div>
          </ion-col>
          <ion-col col-3>
            <hr class="vertical">
            <div class="menu-info">
              <div class="sum"> <ion-icon name="cp-won"></ion-icon> <div>{{sumData[2] | number}}</div> </div>
            </div>
          </ion-col>
          <ion-col col-4>
            <hr class="vertical">
            <div class="menu-info">
              <div class="sum"> <ion-icon name="cp-won"></ion-icon> <div>{{sumData[3] | number}}</div> </div>
            </div>
          </ion-col>

        </ion-row>
        <ion-row>
          <hr class="vertical">
        </ion-row>
      </div>
    </div>
  </div>

</ion-content>