page-new-table {
    .scroll-content {
        background: #f7f7f7;
        padding: 30px 15% !important;
        justify-content: space-between;
    }

    .menu-title {
        color: #6a869f;
        font-size: 1.1rem;
    }

    .table-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .table-item {
            flex-basis: 45%;
            flex-shrink: 0;

            .table-img {
                border: 1px solid #e6e6e7;
                background: #fbfbfb;
                padding: 20px 0px;

                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 70%;
                }
            }
            .check-box {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                color: #d1d3d4;
                font-size: 1.1rem;

                check-box {
                    margin-right: 10px;
                }
            }
            .selected {
                color: #eb505e;
            }
        }
    }

    .divider {
        width: 100%;
        height: 2px;
        background: #e6e7e8;
    }

    .number-picker-container {
        .center {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 10px;

            div {
                flex: unset;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                border: 1px solid #cacbcd;
            }

            .number-text {
                background: #f1f2f2;
                font-size: 1.5rem;
            }

            .plus-minus {
                flex: unset;
                font-size: 2.5rem;
                color: #5e7d99;
            }
        }
    }

    .confirm-btns {
        flex-shrink: 0;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            flex-basis: 45%;
            padding: 20px 0px;
            color: white;
            border-radius: 20px;
            text-align: center;
            font-size: 1.6rem;
        }
        .cancel-btn {
            background: #6d6e71;
        }
        .confirm-btn {
            background: linear-gradient(270deg, #fd7773, #eb505e);
        }
    }
}
