page-new-set-menu {
    .scroll-content {
        background: #f7f7f7;
        padding: 0px 40px !important;
        justify-content: space-between;
    }

    .label {
        color: #a7a9ac;
        margin: 10px 0px;
        font-size: 1rem;
    }

    input {
        width: 100%;
        border: 1px #a7a9ac solid;
        border-radius: 1px;
        height: 50px;
        padding-left: 20px;
        color: #214b72;
        margin-left: 5px;

        @media screen and (max-width: 1366px) {
            height: 35px;
        }
    }

    .recent-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #fd6366;
        margin: 10px 0px;
    }
    
    .main-info {
        width: 100%;

        display: flex;
        flex-direction: row;

        .menu-img {
            position: relative;

            flex-basis: 30%;
            flex-shrink: 0;

            background: white;
            padding: 15px 15px 60px 15px;
            box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.12);

            img {
                width: 100%;
                overflow: hidden;
            }

            .float-content {
                width: 300px;
                position: absolute;
                bottom: 65px;
                left: 100%;
                transform: translate(-65px, 50%);
                z-index: 99999;
                
                display: flex;
                flex-direction: column;

                .float-menu {
                    position: absolute;
                    margin: 50px 0px;
                    max-height: 0px;
                    bottom: 0;
                    transition: max-height 0.5s ease-out;
                    overflow-y: hidden;

                    .menu-item {
                        margin: 30px 0px 30px 20px;
                        color: #19456d;
                        display: flex;
                        align-items: flex-end;

                        ion-icon {
                            margin-right: 10px;
                            &::before {
                                font-size: 2rem !important;
                            }
                        }
                    }
                }
                .float-btn {
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #fd6366;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    font-size: 35px;
                    color: white;
                    box-shadow: 4px 4px 15px 1px rgba(#000000, 0.3);

                    img {
                        width: 23px;
                        height: 23px;
                        transform: rotate(0deg);
                        transition: transform 0.5s;
                    }
                }
            }
                
            .menu-open {
                .float-menu {
                    max-height: 300px;
                    transition: max-height 0.5s ease-in;
                }

                .float-btn {
                    img {
                        transform: rotate(45deg);
                        transition: transform 0.5s;
                    }
                }
            }
        }

        .top-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;

            .select-menu-box {
                z-index: 999999;
                margin: 0px 20px;
                margin-left: 40px;

                .select-box-container {
                    width: 100%;

                    .select-box {
                        padding-left: 40px;
                        color: black;
                    }
                    .options {
                        width: 100%;
                        // background: none;
                        height: 550px;
                        background: white;
                        display: flex;
                        flex-direction: column;
                        border: none;

                        @media screen and (max-width: 1366px) {
                            height: 400px;
                        }

                        ion-scroll {
                            border-left: 1px solid #c5c7c8;
                            border-right: 2px solid #c5c7c8;
                        }
                        
                        ion-scroll {
                            flex-grow: 1;
                            
                            .scroll-content {
                                padding: 0px !important;
                            }
                        }

                        .selected {
                            background: #faea7c !important;
                        }

                        .list-row {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            height: unset;
                            line-height: unset;
                            font-size: 1.2rem;
                            padding: 10px 0px !important;
                            
                            .top-check-box {
                                flex-basis: 13%; 

                                display: flex;
                                justify-content: center;
                            }
                            .name {
                                flex-basis: 22%;
                            }
                            .price {
                                flex-basis: 20%;
                                text-align: right;
                            }
                            .cnt {
                                flex-basis: 45%;

                                display: flex;
                                flex-direction: row;
                                justify-content: center;

                                @media screen and (max-width: 1366px) {
                                    div {
                                        width: 35px !important;
                                        height: 35px !important;
                                        line-height: 35px !important;
                                    }
                                }

                                div {
                                    width: 40px;
                                    height: 40px;
                                    text-align: center;

                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                }

                                .number-text {
                                    background: #fafafa;
                                    color: black;
                                }

                                .plus-minus {
                                    flex: unset;
                                    border: #eeeeee 1px solid;
                                    color: #5e7d99;
                                    font-size: 1.8rem;
                                }
                            }
                        }

                        .menu-info {
                            color: #ec5d6a;
                            flex-basis: 35%;
                            flex-shrink: 0;
                            z-index: 2;
                            box-shadow: 0px -1px 15px 5px rgba(0, 0, 0, 0.1);

                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-around;

                            padding: 0px 20px;

                            @media screen and (max-width: 1366px) {
                                flex-basis: 45%;
                            }

                            .list-container {
                                border: 1px solid #d1d2d4;
                                border-radius: 5px;
                                width: 100%;

                                .selected-list {
                                    display: flex;
                                    flex-direction: row;
                                    overflow-x: scroll;
                                    width: 90%;
                                    border-bottom: 1px solid #eeeff0;
                                    padding: 15px 0px;
                                    margin: auto;

                                    span {
                                        flex-shrink: 0;
                                    }
                                }
                                .total-price {
                                    text-align: right;
                                    padding: 15px 0px;
                                    padding-right: 20px;
                                }
                            }
                            .opt-btns {
                                flex-shrink: 0;
                                display: flex;
                                width: 100%;
                                flex-direction: row;
                                justify-content: space-between;

                                .btn {
                                    color: white;
                                    padding: 12px 60px;
                                    border-radius: 12px;
                                    flex-shrink: 0;

                                    @media screen and (max-width: 1366px) {
                                        padding: 12px 50px;
                                    }
                                }
                                .ok {
                                    background: linear-gradient(90deg, #fd7673, #eb515f);
                                }
                                .cancel {
                                    background: #6d6e71;
                                }
                            }
                        }

                        .item {
                            background: white;
                            color: #1f496d;
                            padding: 0px;

                            .check-box {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                flex-basis: 40px;
                                flex-shrink: 0;
                            }
                        }
                    }
                }
            }
        }

        .summury-selected-menu {
            background: #f2f2f2;
            margin: 0px 15px 0px 45px;
            border: 1px #a7a9ac solid;
            border-radius: 3px;

            .menu-list-container, .total-price {
                height: 50%;
                display: flex;
                align-items: center;
                padding: 14px 0px;
            }

            .menu-list-container {
                border-bottom: 1px #a7a9ac solid;
                color: #3f6485;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .list {
                    flex-basis: 85%;
                    padding-left: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    overflow: scroll;

                    span {
                        flex-shrink: 0;
                    }
                }
                
                ion-icon {
                    margin: auto;
                    color: #ec6370 !important;
                }
            }
            .total-price {
                width: 85%;
                justify-content: flex-end;
            }
        }

        .select-box-container {
            width: 100%;
            height: 50px;
            position: relative;
            border-radius: 1px;
            margin-left: 5px;

            @media screen and (max-width: 1366px) {
                height: 35px;
            }

            .select-box {
                line-height: 50px;
                height: 50px;
                width: 100%;
                padding-left: 15px;
                color: #214b72;
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjIuNSAxMS44IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyMi41IDExLjg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojMTk0NTZEO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48cG9seWxpbmUgaWQ9IlhNTElEXzU0XyIgY2xhc3M9InN0MCIgcG9pbnRzPSIyMS40LDEuMiAxNi4zLDUuOSAxMS4zLDEwLjUgNi4yLDUuOSAxLjEsMS4yICIvPjwvc3ZnPg==) no-repeat 90% 50%;
                background-size: 20px;
                background-color: white;
                border: 1px #a7a9ac solid;
                appearance: none;

                @media screen and (max-width: 1366px) {
                    height: 35px;
                    line-height: 35px;
                }
            }
            
            .options {
                position: absolute;
                width: calc(100%);
                margin-left: 50%;
                transform: translateX(-50%);
                background: #a8a9ad;
                border: 1px #a8a9ad solid;
                z-index: 999999;
                color: white;

                .item {
                    height: 50px;
                    line-height: 50px;
                    border-bottom: 1px #f4f4f5 solid;
                    padding-left: 15px;
                }
            }
        }

        .menu-info-input {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 20px;

            .input-row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .input-item {
                    flex-basis: 50%;
                    margin: 0px 20px;
                }
            }
        }
    }

    .sub-info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        .input-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            
            .input-item {
                flex-basis: 50%;
                margin: 0px 20px;
            }
        }

        .set-sales-amt {
            display: flex;
            flex-direction: column;
            flex-basis: 30%;
            flex-shrink: 0;
            
            .input-item {
                width: 100px !important;
                margin-right: unset !important;

                input {
                    width: 70%;
                    margin-left: 0px;
                }
            }
        }
    }

    .guide {
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        color: #b8b9bc;
        margin-top: 10px;
        font-size: 1rem;

        ion-icon {
            margin-right: 5px;
        }
        ion-icon::before {
            font-size: 2rem !important;
        }
    }

    .bottom-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transform: translateY(-50%);

        .code {
            width: 150px;
            margin-right: 20px;

            input {
                margin-left: 5px;
            }
        }

        .lock-menu {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            color: #a7a9ac;
            font-size: 1.6rem;

            ion-toggle {
                margin-left: 20px;
            }
        }
    }


    .confirm-btns {
        flex-shrink: 0;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;

        padding: 10px 0px 40px 0px;

        div {
            flex-basis: 33%;
            padding: 20px 0px;
            color: white;
            border-radius: 20px;
            text-align: center;
            margin: 0px 20px;
            font-size: 1.6rem;
        }
        .cancel-btn {
            background: #bdbec0;
        }
        .confirm-btn {
            background: linear-gradient(270deg, #fd7773, #eb505e);
        }
    }

    .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(white, 0.8);
        z-index: 9999;
    }
}
