<!--
  Generated template for the Menu page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>세트 메뉴 등록</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-row>
    <!--세트 메뉴 리스트-->
    <ion-col col-2>
      <ion-item>
        세트 명
      </ion-item>
      <ion-item-group>
        <ion-item *ngFor="let item of setMenuList; let i = index" (click)="selectedSetMenu(item, i)" [ngClass]="{'item-selected': selectedSetItem == i}">
          {{item.menuName}} <button ion-button (click)="deleteSetMenu(item)">삭제</button>
        </ion-item>
      </ion-item-group>
    </ion-col>
    <!--메뉴 카테고리 관리-->
    <ion-col col-2>
      <!--<ion-item>
        메뉴 목록
      </ion-item>
      <ion-item>
        <ion-select id="categoryNo" [(ngModel)]="categoryNo">
          <ion-option [value]="-1">전체</ion-option>
          <ion-option *ngFor="let cat of menuCategoryList;" [value]=cat.categoryNo>{{cat.categoryName}}</ion-option>
        </ion-select>
      </ion-item>-->
      <ion-item>
        <ion-col>
          메뉴명
        </ion-col>
        <ion-col>
          단가
        </ion-col>
      </ion-item>
      <ion-item-group>
        <ion-item *ngFor="let item of menuList; let i = index" (click)="addSubMenu(item)">
          <ion-col>
            {{item.menuName}}
          </ion-col>
          <ion-col>
            {{item.saleAmt}}
          </ion-col>
        </ion-item>
      </ion-item-group>
    </ion-col>
    <!--메뉴 관리-->
    <ion-col col-5>
      <ion-item>
        선택 된 메뉴
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col>
            메뉴명
          </ion-col>
          <ion-col>
            개수
          </ion-col>
          <ion-col>
            메모
          </ion-col>
          <ion-col>
            비고
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item *ngFor="let item of subSetMenuList; let i = index">
        <ion-row>
          <ion-col>
            {{item.menuName}}
          </ion-col>
          <ion-col>
            <button ion-button small (click)="calSubMenuCNT(item, -1)">-</button> {{item.menuCNT}}
            <button ion-button small (click)="calSubMenuCNT(item, 1)">+</button>
          </ion-col>
          <ion-col>
            <input type="text" maxlength="4" size="4" [(ngModel)]="item.menuText">
          </ion-col>
          <ion-col>
            <button *ngIf="item.setMenuNo!=-1" ion-button small (click)="modifySubMenu(item)">수정</button>
            <button ion-button small (click)="deleteSubMenu(item, i)">삭제</button>
          </ion-col>
        </ion-row>
      </ion-item>
      <button ion-button (click)="newSetMenu()">신규</button>
      <button ion-button *ngIf="selectedSetMenuNo==-1" (click)="addnewSetMenu()">새로 만들기</button>
      <button ion-button *ngIf="selectedSetMenuNo!=-1" (click)="modifySetMenu()">저장</button>
    </ion-col>
    <ion-col col-3>
      <ion-item>
        <ion-label color="primary">메뉴 코드*</ion-label>
        <ion-input [(ngModel)]="item.menuCode" placeholder="1001"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">메뉴 명*</ion-label>
        <ion-input [(ngModel)]="item.menuName" placeholder="비빔밥"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">메뉴 영문</ion-label>
        <ion-input [(ngModel)]="item.menuNameEn" placeholder="bibimbob"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">단가*</ion-label>
        <ion-input [(ngModel)]="item.unitPrice" placeholder="5,000"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">판매 금액*</ion-label>
        <ion-input [(ngModel)]="item.saleAmt" placeholder="5,000"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">과세 구분*</ion-label>
        <ion-toggle [(ngModel)]="taxType"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label color="primary">사용 여부*</ion-label>
        <ion-toggle [(ngModel)]="useYN"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label color="primary">스탬프 적립 여부*</ion-label>
        <ion-toggle [(ngModel)]="stampUseYN"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label color="primary">품절 여부*</ion-label>
        <ion-toggle [(ngModel)]="soldOutYN"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label color="primary">포장 할인 금액</ion-label>
        <ion-input [(ngModel)]="item.takeoutDCAmt" placeholder="Text Input"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">메뉴 분류*</ion-label>
        <ion-select id="categoryNo" [(ngModel)]="item.categoryNo">
          <ion-option *ngFor="let cat of menuCategoryList;" [value]=cat.categoryNo>{{cat.categoryName}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary">메뉴 구분*</ion-label>
        <ion-select id="menuType" [(ngModel)]="item.menuType">
          <ion-option [value]=1>일반 메뉴</ion-option>
          <ion-option [value]=2>세트 메뉴</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="selected">
        <ion-label color="primary">등록 일시</ion-label>
        <ion-input [(ngModel)]="item.regDttm" disabled></ion-input>
      </ion-item>
      <ion-item *ngIf="selected">
        <ion-label color="primary">수정 일시</ion-label>
        <ion-input [(ngModel)]="item.updDttm" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">유효 시작일* </ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="item.startDt"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label color="primary">유효 종료일* </ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="item.endDt"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label color="primary">표시 순서 </ion-label>
        <ion-input [(ngModel)]="item.dispOrder" placeholder="1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">배경 색 </ion-label>
        <ion-input [(ngModel)]="item.menuBgColor" placeholder="빨간색"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>

  </ion-row>
</ion-content>