page-stat-pay-complex {
    .scroll-content {
        background: #f7f7f7;
        padding: 40px 120px !important;
        justify-content: space-between;
        @media (max-width: 1366px) {
            padding: 30px 80px !important;
        }
        display: flex;
        flex-direction: column;      
    }

    .menu-container {
        flex-basis: 43%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        .menu-list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: white;
            width: 100%;
            padding: 20px 20px 10px 20px;
            flex-grow: 1;
            border-radius: 20px 20px 0px 0px;

            .table-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: hidden;
                border: #e9e9e9 1px solid;
                border-radius: 20px 20px 0px 0px ;

                .table-header {
                    flex-shrink: 0;

                    ion-row {
                        background: #5e7d99;
                        border-radius: 20px 20px 0px 0px !important;
                        font-size: 1.5rem;
                        padding: 15px 0px !important;
                        text-align: center;

                        ion-col:not(:last-child) {
                            border-right: 1px #8098ae solid;
                        }
                        ion-col {
                            position: relative;
                            color: white;
                        }
                    }
                }

                .table-body {
                    flex-grow: 1;
                            
                    ion-scroll {
                        padding: 0px !important;
                        height: 55vh;
                                    
                        @media (max-width: 1366px) {
                            height: 40vh;
                        }      
                        .scroll-content {
                            min-height: unset;
                            padding: 0px 0px !important;
                            background:white !important
                            }
                        }

                    ion-row {
                        border-bottom: #e9e9e9 1px solid;
                        font-size: 1.3rem;
                        z-index: 3;
                        color:#58595B;
                        height: 5rem;
                        @media (max-width: 1366px) {
                            height: 4rem;
                        }
                        ion-col {
                            display: flex;
                            flex-direction: row;
                            height: 5rem;
                            text-align: center;
                            align-items: center;
                            justify-content: center;
                            @media (max-width: 1366px) {
                                height: 4rem;
                            }
                            check-box{
                                margin-right: 10px;
                            }
                            ion-icon{
                                margin-right: 5px;
                            }
                            ion-icon::before{
                                font-size: 1.8rem;
                            }
                        }
                        ion-col:not(:last-child) {
                            border-right: 1px #e9e9e9 solid;
                            }
                        .pay-checked {
                            position: absolute;
                            height: inherit;
                            width:100%;
                            z-index: 10;
                            background: rgba(black, 0.1);
                        }
                    }
                    .more-load{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size : 1.5rem;
                        border: 1px #e9e9e9 solid;
                        border-radius: 10px;
                        padding:5px;
                        margin: 15px 0;
                        width: 8rem;
                        left: 50%;
                        position: relative;
                        transform: translateX(-50%);
                        color: #58595B;
                        ion-icon{
                            font-size: 2rem;
                            margin-right: 10px;
                        }
                    }

                }
            }

                .foot{
                    color: #FF7675;
                    font-size: 2rem;
                    padding: .5rem 0 0 0;
                    @media (max-width: 1366px) {
                        font-size: 1.5rem;
                    }
             
                    .sum {
                        text-align: center;
                        justify-content: center;
                        background-color: #F9F9F9;
                        padding: 1.5rem !important;
                        @media (max-width: 1366px) {
                            font-size: 1.5rem;
                        }
                    }
                    .vertical{
                        display: flex;
                        width: 100%;
                        height: 2px;
                        margin: .7rem 0 ;
                        background-color: #F9F9F9;  
                    }
                }

        }
    }
    .btn-area{
        display: flex;
        font-size: 2rem;
        color: white;
        .pay-btns{
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
            color: #58595B;
            background: white;
            border: #e9e9e9 1px solid;
            font-size: 1.3rem;
            width:50%;
            padding: 7px 0px;
            //padding: 1rem 0rem;
            ion-icon{
                display: inline-block;
                font-size: 4rem;
                justify-content: center;
                display: flex;
                //margin-bottom: 20px;
                margin-bottom: 30px;
                @media (max-width: 1366px) {
                    margin-bottom: 10px;
                }
            }
        }
        .pay-btns:not(:last-child){
            border-right: #e9e9e9 0px solid;
        }

    }
}
