<ion-header>
  <alert-header [title]="title" (closeAction)="close($event)"></alert-header>
</ion-header>
<ion-content>
  <div class="alert-content">
    <div class="text-content-section">
      영업 날짜 :
      <div class="big-font-content">
        {{salesDt|date:'y.MM.dd'}}
      </div>
      준비금:
      <div class="big-font-content">
        {{openCash|number}}원
      </div>
    </div>
    <div class="confirm-btns">
      <div class="cancel-btn" (click)="close(0)">
        아니요
      </div>
      <div class="confirm-btn" (click)="close(1)">
        네
      </div>
    </div>
  </div>
</ion-content>