<ion-header>
  <div class="category-container" [ngClass]="{'edit-mode': editMode}">
    <div class="category-content">
      <div class="category-item" *ngFor="let category of categories">
        <div class="category-name">
          {{category.name.ko}}
        </div>
      </div>
    </div>
    <div class="category-item">
      <div class="category-name" style="color: transparent">
        -
      </div>
    </div>
    <div class="edit-btn" *ngIf="!editMode" (click)="intoEditMode()">
      <span>
        <ion-icon name="cp-edit-menu"></ion-icon>편집
      </span>
    </div>
    <div class="edit-btn" *ngIf="editMode" (click)="saveEdited()">
      <span>
        <ion-icon name="cp-check-box1"></ion-icon>완료
      </span>
    </div>
    <div class="backdrop" *ngIf="editMode"></div>
  </div>
</ion-header>
<ion-content>
  <div class="left-content">
    <div class="menu-item-container">
      <div class="menu-item" square>
        <div class="menu-item-inner" square (click)="applyDc({dcNo:'', dcType: '2', dcName: '', dcAmt: 0}, -2);" [ngClass]="{'selected': selectedDc == -2}">
          <div class="menu-image">
            <img [src]="'assets/images/discount_green.png'" alt="">
            <div class="menu-price">
              0
              <ng-container>%</ng-container>
            </div>
          </div>
          <div class="menu-name">
            할인 초기화
          </div>
        </div>
      </div>
      <div class="menu-item" square *ngFor="let item of dcList; let i = index">
        <div class="x-mark-menu" *ngIf="editMode" (click)="deleteDc(item)">
          <img src="assets/images/x.png" alt="">
        </div>
        <div class="menu-item-inner" square (click)="applyDc(item, i);" [ngClass]="{'selected': selectedDc == i}">
          <div class="menu-image">
            <img [src]="item.dcType == 2 ? 'assets/images/discount_green.png' : 'assets/images/discount_blue.png'" alt="">
            <div class="menu-price">
              {{item.dcAmt | number}}
              <ng-container>{{item.dcType == 1 ? '원' : '%'}}</ng-container>
            </div>
          </div>
          <div class="menu-name">
            {{item.dcName}}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>