<ion-header>
  <alert-header [title]="title" (closeAction)="close($event);"></alert-header>
</ion-header>
<ion-content padding>
  <div *ngIf="color == 'red'" class="alert-content">
    <div class="icon">
      <ion-icon name="cp-alert"></ion-icon>
    </div>
    <div class="message">
      {{message}}
    </div>
    <div class="confirm-btn" (click)="close()">
      확인
    </div>
  </div>
  <div *ngIf="color != 'red'" class="alert-content gray">
    <div class="icon">
      <ion-icon name="cp-check"></ion-icon>
    </div>
    <div class="message">
      {{message}}
    </div>
    <div class="confirm-btn" (click)="close()">
      확인
    </div>
  </div>
</ion-content>