page-stamp-set {
    .scroll-content {
        background: #f7f7f7;
        padding: 30px 15% !important;
        justify-content: space-between;
    }

    input {
        padding: 17px 20px;
        border: 1px solid #a9abae;
        border-radius: 5px;
        font-size: 1.6rem;
        color: #19456d;
        @media screen and (max-width: 1366px) {
            padding: 10px 15px;
        }
    }
    .short-input{
        width: 50%;
    }
    textarea {
        padding: 15px 20px 15px 20px;
        color: #19456c;
        font-size: 1.5rem;
        border: 1px solid #b4b5b8;
        border-radius: 5px;
        width: 100%;
        //height: 140px;
        height: 160px;
        resize: none;    
        @media (max-width: 1366px) {
            box-sizing: border-box;
            width: 96.5%;
            height: 70px;
        }
    }  

    .stamp-title {
        color: #6a869f;
        font-size: 1.1rem;
    }

    .stamp-detail{
        color: #939598;
        font-size: 1.8rem;
    }

   
    .divider {
        width: 100%;
        height: 2px;
        background: #e6e7e8;
    }


    .confirm-btns {
        flex-shrink: 0;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            flex-basis: 45%;
            padding: 20px 0px;
            color: white;
            border-radius: 20px;
            text-align: center;
            font-size: 1.6rem;
        }
        .cancel-btn {
            background: #6d6e71;
        }
        .confirm-btn {
            background: linear-gradient(270deg, #fd7773, #eb505e);
        }
    }
}
