<ion-header>
    <alert-header [title]="pageTitle" (closeAction)="closeModal($event);"></alert-header>
</ion-header>

<ion-content padding>
    <div class="top-background">
        <ion-row>
            <ion-col col-8>
                <div *ngIf="loginSession.getInfo().mileageStampOpt==1">
                    <img src="assets/images/pay/mileage.png">
                </div>
                <div *ngIf="loginSession.getInfo().mileageStampOpt==2">
                    <img src="assets/images/pay/stamp.png">
                </div>
            </ion-col>
            <ion-col col-8 class="userInfo">
                <div>
                    <ion-icon name="cp-id"></ion-icon>
                    <div>고객명:</div>
                    <div>{{userInfo.userName}}</div>
                </div>
                <div>
                    <ion-icon name="cp-tel"></ion-icon>
                    <div>연락처:</div>
                    <div>{{userInfo.tel}}</div>
                </div>
            </ion-col>
        </ion-row>
    </div>
    <div class="log-background">
        <div class="content-th">
            <ion-row>
                <ion-col>날짜</ion-col>
                <ion-col class="time">시간</ion-col>
                <ion-col>입출</ion-col>
            </ion-row>
        </div>
        <div class="content-tr">
            <div class="content-main">
                <ion-row *ngFor="let item of log">
                    <ion-col>
                        {{item.tranDttm | date:'MM-dd'}}
                    </ion-col>
                    <ion-col>
                        {{item.tranDttm | date:'HH:mm'}}
                    </ion-col>
                    <ion-col>
                        <span *ngIf="pageTitle == '마일리지 조회'">{{item.mileage | number}}</span>
                        <span *ngIf="pageTitle == '스탬프 조회'">
                            <div *ngIf="item.savingCnt != null"> +{{item.savingCnt}}</div>
                            <div *ngIf="item.useCnt != null"> -{{item.useCnt}}</div>
                        </span>
                    </ion-col>
                </ion-row>
                <div class="more-load" *ngIf='total - log.length > 0' (click)="doInfinite()"> <ion-icon name="add"></ion-icon> 더보기 </div>
            </div>
            <div class="foot">
                <ion-row>
                    <hr class="vertical">
                </ion-row>
                <ion-row *ngIf="pageTitle == '마일리지 조회'" class="sum">
                    <div> 잔여 마일리지 : </div>
                    <div> {{userInfo.mileage}} </div>
                </ion-row>
                <ion-row *ngIf="pageTitle == '스탬프 조회'" class="sum">
                    <div> 잔여 스탬프 : </div>
                    <div> {{userInfo.stampCnt}} </div>
                </ion-row>
                <ion-row>
                    <hr class="vertical">
                </ion-row>
            </div>
        </div>
        <div class="okay-background">
            <span class="okay" (click)="closeModal()">확인</span>
        </div>
    </div>
</ion-content>