page-mileage-log {
    .top-background {
        height: 30%;
        background: #19456c;

        img {
            border-radius: 10px;
            height: 160px;
            box-shadow: 3px 5px 5px #000;
            display: table;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            transform: translateX(20px) !important;
            @media (max-width: 1366px) {
                height: 110px;
                margin-top: 10px;
                border-radius: 7px;
                transform: translateX(20px);
            }   
        }

        .userInfo {
            color: white;
            margin: 65px 0px 40px 0px;
            font-size: 1.4rem;
            @media (max-width: 1366px) {
                margin: 35px 0px 10px 0px;
                font-size: 1.4rem;
            }

            div {
                display: flex;
                flex-direction: row;

                ion-icon {
                    margin: 0px 10px 0px 0px;
                }

                ion-icon::before {
                    color: #fd6366;
                    font-size: 2rem;
                }

                div {
                    margin: 3px 15px 25px 0px;
                    @media(max-width: 1366px) {
                        margin: 3px 10px 20px 0px;
                    }
                }
            }
        }
    }

    .log-background {
        height: 70%;
        background: #f7f7f7;

        .content-th {
            background: #5f7d98;
            text-align: center;
            color: white;
            width: 60%;
            border-radius: 15px 15px 0px 0px;
            display: table;
            margin-left: auto;
            margin-right: auto;
            transform: translateY(-25px);
            font-size: 1.5rem;
            @media(max-width: 1366px) {
                font-size: 1.4rem;
            }

            .time {
                border-left: 2px solid #d1d3d4;
                border-right: 2px solid #d1d3d4;
            }

            ion-row {
                margin: 10px 20px 15px 20px;
                @media (max-width: 1366px) {
                    margin: 10px 20px 10px 20px;
                    font-size: 1.3rem;
                }                   
            }
        }

        .content-tr {
            background: white;
            height: 76%;
            width: 60%;
            text-align: center;
            display: table;
            margin-left: auto;
            margin-right: auto;
            transform: translateY(-25px);
            color: #19456c;
            font-size: 1.5rem;

            ion-row {
                margin: 20px;
                @media (max-width: 1366px) {
                    margin: 15px 20px 15px 20px;
                    font-size: 1.4rem;
                }
            }

            .content-main {
                height: 76%;
                overflow: scroll;
                color: gray;
            
            }

            .foot{
                color: #FF7675;
                font-size: 2rem;
                @media (max-width: 1366px) {
                    font-size: 1.5rem;
                }
                ion-row{
                    margin:0 2rem;;
                }
                .sum {
                    text-align: center;
                    justify-content: center;
                    background-color: #F9F9F9;
                    padding: 1rem !important;
                    div:nth-child(1){
                        margin-right: 3rem;
                    }
                    @media (max-width: 1366px) {
                        font-size: 1.5rem;
                    }
                }
                .vertical{
                    display: flex;
                    width: 100%;
                    height: 2px;
                    margin: 0.7rem 0 ;
                    background-color: #F9F9F9;  
                }
            }

            .remain-background {
                height: 20%;
                border-top: 1px solid #d1d3d4;
                margin: 10px 20px 0px 20px;
                padding-top: 10px;


                .remain {
                    font-size: 1.6rem;
                    color: #fd6366;
                    text-align: right;
                    @media (max-width: 1366px) {
                        font-size: 1.4rem;
                    }
                }

                .remain-mileage {
                    font-size: 1.9rem;
                    color: #fd6366;
                    text-align: center;
                    @media (max-width: 1366px) {
                        margin-top: -5px;
                    }
                }
            }
        }

        .okay-background {
            .okay {
                font-size: 1.7rem;
                color: white;
                background: #fd6366;
                padding: 25px 110px 25px 110px;
                text-align: center;
                border-radius: 15px;
                display: table;
                margin-left: auto;
                margin-right: auto;
                margin-top: -10px;

                @media (max-width: 1366px) {
                    margin-top: 0px;
                    font-size: 1.6rem;
                    padding: 15px 70px 15px 70px;
                }

            }
        }
    }

}