<!--
  Generated template for the DeleteStorePicturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <alert-header [title]="pageTitle" (closeAction)="yesOrNo(0)"></alert-header>
</ion-header>


<ion-content padding>
  <div class="main">
    <ion-row>
      <ion-icon name="cp-alert"></ion-icon>
    </ion-row>
    <ion-row>
      <div>사진을 삭제하시겠습니까?</div>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="no" (click)="yesOrNo(0)">아니요</div>
      </ion-col>
      <ion-col>
        <div class="yes" (click)="yesOrNo(1)">네</div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

