page-delete-store-picture {
    ion-content {
        .main {
            background: #f7f7f7;
            width: 100%;
            height: 100%;

            ion-row {
                height: 32%;
                @media (max-width: 1366px) {
                    height: 33%;
                }

                ion-icon {
                    color: #fd6366;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 30px;
                    @media(max-width: 1366px) {
                        margin-top: 20px;
                    }
                }

                ion-icon::before {
                    font-size: 3rem;
                    @media(max-width: 1366px) {
                        font-size: 2.8rem;
                    }
                }

                div {
                    color: #fd6366;
                    width: auto;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 1.8rem;
                    padding-top: 10px;
                    @media (max-width: 1366px) {
                        font-size: 1.7rem;
                        padding-top: 7.5px;
                    }
                }

                ion-col {
                    width: 50%;

                    div {
                        color: white;
                        text-align: center;
                        border-radius: 20px;
                        width: 205px;
                        height: 55px;
                        font-size: 1.8rem;
                        padding: 15px;
                        @media (max-width: 1366px) {
                            width: 130px;
                            height: 35px !important;
                            padding: 0;
                            line-height: 35px;
                            font-size: 1.6rem;
                            border-radius: 12.5px;
                        }
                    }

                    .no {
                        background: #bcbec0;
                        transform: translateX(20px);
                    }

                    .yes {
                        background: #fd6366;
                        transform: translateX(-20px);
                    }
                }
            }
        }
    }
}
