<ion-content>
  <div class="close-btn" (click)="showDatePickerChange()">
    x  
  </div>
  <material-datepicker style="height: 100%" *ngIf="showDatePicker" (showDatePicker)="showDatePickerChange($event)" (onSelect)="OnDataSelected($event)" [isBegin]="isBegin" [initialDate]="today"></material-datepicker>
</ion-content>