page-date-picker-modal {
    .scroll-content {
        background: #f7f7f7;
        overflow: hidden;
    }

    .close-btn {
        position: absolute;
        top: 7px;
        right: 14px;
        font-size: 2.8rem;
        margin-right: 10px;
        z-index: 10000;
        color: #19456d;
    }
}
