<div class="pick-date-container">
  <div *ngIf="plusNminus" class="arrow" (click)="minus()">
    <
  </div>
  {{date | date:'y.MM.dd'}}
  <div *ngIf="plusNminus" class="arrow" (click)="plus()">
    >
  </div>
</div>
