<!--
  Generated template for the CheckMemberPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <alert-header [title]="pageTitle" (closeAction)="closeModal($event);"></alert-header>
</ion-header>


<ion-content padding>
  <div class="main">
    <ion-row class="content-th">
      <ion-col>
        고객명
      </ion-col>
      <ion-col>
        연락처
      </ion-col>
      <ion-col>
        포항포인트
      </ion-col>
      <ion-col *ngIf="mileageOrStamp == 1">
        마일리지
      </ion-col>
      <ion-col *ngIf="mileageOrStamp == 2">
        스탬프
      </ion-col>
    </ion-row>
    <ion-row class="content-tr" *ngFor="let item of result" (click)="selectUser(item)">
      <ion-col>
        {{item.userName}}
      </ion-col>
      <ion-col>
        {{item.tel}}
      </ion-col>
      <ion-col>
        {{item.point}}
      </ion-col>
      <ion-col *ngIf="mileageOrStamp == 1">
        {{item.mileage? (item.mileage| number):(0| number)}}
      </ion-col>
      <ion-col *ngIf="mileageOrStamp == 2">
        {{item.stamp? (item.stamp| number):(0| number)}}
      </ion-col>
    </ion-row>
  </div>

</ion-content>