page-stat {

    .date-area, .filter-area {
        // margin: 5px 0px 5px 0px;
    }
    .content{
        background-color: #F7F7F7;
    }
    .date-area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .date {
            display: flex;
            flex-direction: row;

            div {
                margin: 0px 10px;
            }
        }

        .date-opt-btns{
            display: flex;
            flex-direction: row;
            margin-left: 60px;
            @media (max-width: 1366px) {
                margin-left: 0px;
                }
            button{
                background-color: transparent;
                width: 7rem;
                font-size: 1.2rem;
                padding: .5rem 2rem;
                border-right: #D6D6D6 1.5px solid;
                color: rgb(113, 113, 113);
                margin : 3rem  auto;
                &.checked{
                color: #EE5661;
                }
           }
           button:nth-child(1){
                border-left: #D6D6D6 1.5px solid;
           }
        }
        .wave{
            display: flex;
            flex-direction: row;
            align-items: center; 
            
            color: rgb(113, 113, 113);
        }
        .date-picker-section{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            // margin : 15px 0px;
            padding: .6rem 1.5rem;
            margin: 2.5rem 1rem;
            border: 1px #a7a9ac solid;
            border-radius: 2px;
            color: #EE5661;
            width:14rem;
            // font-size: 1.5rem;
            @media (max-width: 1366px) {
                margin: 2.5rem 0rem;
                width: 13rem;
                }
            ion-icon{
                margin-left: 1rem;
            }
            ion-icon::before{
                font-size: 2rem;
            }

        }
    }
    .filter-area {
        .table-filter {
            display: flex;
            justify-content: space-between;
            height: 4rem;
            
            .filter-btns {
                display: flex;
                flex-direction: row;
                align-items: center;
                
                button{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    width:16rem;
                    margin-right : 10px ;
                    padding: .6rem 1.2rem;
                    font-size: 1.5rem;
                    border: 1px #a7a9ac solid;
                    border-radius: 2px;
                    color: rgb(113, 113, 113);
                    background-color: transparent;
                    ion-icon{
                        margin-right: .5rem;
                    }
                    ion-icon::before{
                        font-size: 2rem;
                    }

                    @media (max-width: 1366px) {
                        padding: .6rem .8rem;               
                        }
                    &.checked{
                        color:white;
                        background-color: #EE5661;
                        border: 1px #EE5661 solid;
                    }
                }
                .each{
                    padding: 0rem 1.2rem;
                    ion-icon{
                        margin-right: .5rem;
                    }
                    ion-icon::before{
                        font-size: 3.3rem;
                    }
                }

            }
        }
        .option-filter {
            display: flex;
            justify-content: flex-end;
            height: 5rem;
            .option-btns{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 2rem;
                button{
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    width:14rem;
                    padding: 1rem 1.2rem;
                    font-size: 1.5rem;
                    border: 1px #a7a9ac solid;
                    color: #EE5661;
                    background-color: white;
                    height: 4rem;
                    @media (max-width: 1366px) {
                        padding: .6rem .8rem;
                        width:13rem;                    
                        }
                    ion-icon{
                        margin-right: .5rem;
                    }
                    ion-icon::before{
                        font-size: 2rem;
                    }
                }
                button:not(:last-child){
                    border-right: 0px;
                }
            }
        }
    }   

        .select-box-container {
                width: 100%;
                height: 40px;
                position: relative;
                border-radius: 2px;
                margin-left: 8px;
                width:14rem;
                left: 7%;
                @media (max-width: 1366px) {
                    left: 13%;
                    margin-left: 5px;
                    line-height: 32px;
                    height: 32px;
                    }
                .select-box {
                    line-height: 40px;
                    height: 40px;
                    width: 100%;
                    padding-left: 15px;
                    color: #214b72;
                    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjIuNSAxMS44IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyMi41IDExLjg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojMTk0NTZEO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48cG9seWxpbmUgaWQ9IlhNTElEXzU0XyIgY2xhc3M9InN0MCIgcG9pbnRzPSIyMS40LDEuMiAxNi4zLDUuOSAxMS4zLDEwLjUgNi4yLDUuOSAxLjEsMS4yICIvPjwvc3ZnPg==) no-repeat 90% 50%;
                    background-size: 15%;
                    background-color: transparent;
                    border: 1px #a7a9ac solid;
                    appearance: none;
                    border-radius: 2px;
                    @media (max-width: 1366px) {
                        margin-top: .6rem;
                        line-height: 32px;
                        height: 32px;
                        }

                }
                .options {
                    position: absolute;
                    width: calc(100% + 1px);
                    margin-left: 50%;
                    transform: translateX(-50%);
                    background: #a8a9ad;
                    border: 0px 3px 0px 3px #a8a9ad solid;
                    z-index: 999999;
                    color: white;

                    .item {
                        height: 40px;
                        line-height: 40px;
                        border-bottom: 1px #f4f4f5 solid;
                        padding-left: 15px;
                        line-height: 32px;
                        height: 32px;
                    }
                }
            }
}
