<!--
  Generated template for the SaveMileageContainerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <alert-header [title]="pageTitle" (closeAction)="closeModal($event);"></alert-header>
</ion-header>

<ion-content padding>
  <div class="main-container">
    <div class="main">
      <div class="first-line">+ {{beforemileage}} {{'m_mile'| translate}}</div>
      <div class="second-line">{{'m_have'| translate}}</div>
      <div class="third-line">
        <ion-row>
          <ion-col col-8>
            <div class="third-first-col">{{'m_mile'| translate}}:</div>
          </ion-col>
          <ion-col col-8>
            <div class="third-second-col">{{aftermileage}}</div>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="okay-background">
      <span class="okay" (click)="closeModal()">{{'m_check'| translate}}</span>
    </div>
  </div>
</ion-content>
