<ion-header>
  <div class="category-container" [ngClass]="{'edit-mode': editMode}">
    <div class="category-content">
      <div class="category-item" [ngClass]="{'selected': selectedCategoryIdx == i}" *ngFor="let category of categories; let i = index; let isFirst = first">
        <div class="x-mark-category" *ngIf="editMode && !isFirst" (click)="deleteCategory(i);">
          <img src="assets/images/x-red.png" alt="">
        </div>
        <div class="category-name" (click)="changeCategory(i)">
          <ng-template [ngIf]="i == 0">{{'category' | translate}}</ng-template>
          <ng-template [ngIf]="i != 0">{{category.name[lang]}}</ng-template>
        </div>
      </div>
      <div class="category-item">
        <div class="category-name" style="color: transparent">
          -
        </div>
      </div>
    </div>
    <div class="edit-btn" *ngIf="!editMode" (click)="intoEditMode()">
      <span>
        <ion-icon name="cp-edit-menu"></ion-icon>편집
      </span>
    </div>
    <div class="edit-btn" *ngIf="editMode" (click)="saveEdited()">
      <span>
        <ion-icon name="cp-check-box1"></ion-icon>완료
      </span>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="left-content" *ngIf="categories.length > 0">
    <div class="menu-item-container">
      <div [attr.value]="i" class="menu-item droppable" [ngClass]="{'draggable': editMode}" square *ngFor="let item of categories[selectedCategoryIdx].menu; let i = index">
        <div class="x-mark-menu" *ngIf="editMode" (click)="deleteMenu(item);">
          <img src="assets/images/x.png" alt="">
        </div>
        <div class="stock-warn" *ngIf="!editMode && item.soldOutYN != 1 && item.stockSaleYN == 1 && item.stockCNT <= 30 && item.stockCNT > 0" (click)="stockWarn(item);">
          <img *ngIf="item.stockCNT <= 10" src="assets/images/red-back.png" alt="">
          <img *ngIf="item.stockCNT > 10" src="assets/images/orange-back.png" alt="">
        </div>
        <div class="stock-warn" *ngIf="!editMode && (item.soldOutYN == 1 || (item.stockSaleYN == 1 && item.stockCNT == 0))" (click)="stockWarn(item);">
          <img src="assets/images/lock.png" alt="">
        </div>
        <div [attr.value]="i" class="stock-back-drop" *ngIf="!editMode && (item.soldOutYN == 1 || (item.stockSaleYN == 1 && item.stockCNT == 0))" (click)="stockWarn(item);"></div>
        <div [attr.value]="i" class="menu-item-inner" square (click)="addOrder(item)">
          <div [attr.value]="i" class="menu-image">
            <img [attr.value]="i" [src]="item.thumbnailS ? item.thumbnailS : 'assets/images/default-menu.png'" alt="">
            <div [attr.value]="i" class="menu-price">
              {{item.saleAmt | number}}{{won | translate}}
            </div>
          </div>
          <div [attr.value]="i" class="menu-name">
            {{item.name[lang]}}
          </div>
        </div>
      </div>
    </div>
  </div> 
</ion-content>
